[2014-02-26 20:10] sajayantony opened #1 "Remove IAsyncResult from AsyncAcceptContext"

[2014-03-11 23:44] glennc opened #3 "Implement ICanHasClientDisconnectedToken"
parent aspnet/HttpAbstractions#18

[2014-03-17 06:56] davidfowl opened #4 "Update test projects to use new test infrastructure"
https://github.com/aspnet/Testing/wiki/How-to-create-test-projects

[2014-03-20 17:57] Tratcher opened #6 "Find better names for the types OwinWebListener and WebListenerWrapper"

[2014-03-27 01:26] #4 closed, assigned to nobody

[2014-03-27 21:15] Praburaj opened #8 "POST requests on WebListener running into ObjectDisposedException"
When doing a form post from Chrome to a self host application, model binding fails due to an ObjectDisposedException in WebListener. In this specific case Chrome seems to send the request headers and body as a single block where WebListener seems to run into this issue. The same scenario works fine on IE or fiddler or making a request from Chrome with fiddler running.

[2014-03-28 18:55] #8 closed, assigned to nobody

[2014-03-28 23:29] Tratcher opened #11 "Empty responses should default to Content-Length: 0 instead of chunked."
If you do not specify a content-length and then start writing data then it defaults to chunked. This is fine.

However, if you end the request without writing data, it still defaults to chunked and sends a chunked terminator. It should default to content-length: 0 instead.

[2014-04-02 16:16] Eilon opened #13 "Consider adding convenience overload: listener.UrlPrefixes.Add(string)"
Currently it's a plain `IList<UrlPrefix>` so you have to call:

[code]

It would be much nicer to be able to say:

[code]

[2014-04-10 21:08] Tratcher opened #14 "Seperate lower WebListener layer to its own assembly"
WebListener has two layers, the underlying native interop API, and the higher level message pump and pipeline dispatching.  Separate these two layers into different assemblies that only communicate with public API.

[2014-04-16 21:49] davidfowl opened #16 "Make WebListener abstractions private"

[2014-04-17 21:37] Praburaj opened #18 "Need a Helios like error blue screen to display any app load errors"
Currently in selfhost when the application fails to load - WebListener sends a 500 Internal error with no details on why the app load failed. If user is running the app on command line the command line output has details of the failure. But if the user is running from tooling there is no way to know the reason for the failures.

Ask: WebListener should throw the same blue screen like Helios so tha

[2014-04-17 21:52] #18 closed, assigned to nobody

[2014-04-21 17:15] #16 closed, assigned to nobody

[2014-04-28 18:37] Tratcher opened #20 "Fix or remove IHttpSendFile"
WebListener currently implements IHttpSendFile, but throws NotImplementedException because of missing File SafeHandle APIs.  This is breaking the static file middleware.  Fix or remove the feature for alpha.

[2014-04-28 21:00] #20 closed, assigned to Tratcher

[2014-05-05 22:24] #3 closed, assigned to Tratcher

[2014-05-05 22:24] #14 closed, assigned to Tratcher

[2014-05-12 22:01] #1 closed, assigned to nobody

[2014-05-12 22:18] #11 closed, assigned to Tratcher

[2014-05-20 21:36] #6 closed, assigned to nobody

[2014-06-19 20:28] bricelam opened #35 "Microsoft.AspNet.Security.Windows.Test doesn't run during build"
The project.json file is wrong. See [How to create test projects](https://github.com/aspnet/Testing/wiki/How-to-create-test-projects).

[2014-06-19 20:39] #35 closed, assigned to nobody

[2014-06-26 18:48] Tratcher opened #39 "Hot add/remove url prefixes"
Some applications want to dynamically add/remove listening prefixes without re-starting the server. Http.Sys supports this.  This feature was present in HttpListener and should be restored in WebListener.

[2014-06-26 19:01] Tratcher opened #43 "Honor CancellationTokens for Read/WriteAsync and GetClientCertificateAsync"
Several async APIs take cancellation tokens that are not currently being honored. In most cases cancellation should trigger a request abort.

[2014-07-01 13:57] tugberkugurlu opened #44 "Turkish I issue for RequestHeaders"
[RequestHeaders](https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.Net.Server/RequestProcessing/RequestHeaders.cs) internal class has this line of code:

[code]

Which I believe is wrong because for example, if you are under Turkish culture, it won’t match the I correctly ([Turkish I problem](http://blog.codinghorror.com/whats-wrong-with-turkey/) :smile:). I could be wrong but I guess i

[2014-07-01 20:40] #44 closed, assigned to nobody

[2014-07-03 16:53] Tratcher opened #45 "Make Header APIs friendly"
Headers are currently exposed as a raw `IDictionary<string, string[]>`. This is fine for interop, but it's awful to use directly.  Consider adopting the functionality available in K's header collection; Append, GetCommaSeperatedValues, etc..

[2014-07-07 16:17] Tratcher opened #46 "Rename Microsoft.Net.Server to Microsoft.Net.Http.Server"
This contains the actual WebListener implementation.

[2014-07-17 21:50] Tratcher opened #49 "Verify URL un-escaping procedures"
HttpListener chose to override Http.Sys's default escaping logic if you set a config flag. See if that's still valid. OData is the most cited scenario.
https://katanaproject.codeplex.com/workitem/207

[2014-07-22 06:04] suhasj opened #50 "Enable more commandline options to configure WebListener"
The scope commandline arguments that configure WebListener cab be increased. For example, we can take '--authenticationType NTLM' to set the authentication type in the project.json itself.

A quick pass on the other command line arguments would be good

[2014-07-22 06:08] suhasj opened #51 "Have extension method to configure authentication"
As of now to configure Windows authentication on WebListener, we need to get the ServerInformation from IBuilder and set the AuthenticationType on the Listener property.

We can have extension methods on the IBuilder to make this configuration simpler. For example,

[code]

or

[code]

[2014-07-23 16:56] Tratcher opened #52 "Enable parallel tests by using dynamic ports"
See the work done in the HttpClient repo:
https://github.com/aspnet/HttpClient/issues/4

It will be a little more complex for WebListener with the greater scenario verity, but the same idea should work.  Note this will not work for the SSL/HTTPS tests since they require a pre-registered cert on a specific port.

[2014-07-30 16:33] Tratcher opened #54 "Lock response headers after sending them"
After the response headers have been sent, any attempts to modify the header collection should result in an InvalidOperationException. This facilitates debugging out-of-order modifications.

[2014-08-06 22:52] #46 closed, assigned to Tratcher

[2014-08-06 22:52] #52 closed, assigned to Tratcher

[2014-08-08 20:13] Tratcher opened #56 "Request and response streams should throw IOException, not WebListenerException"
The request and response streams should only throw exceptions documented by the base stream contract (argument exceptions, IOExceptions, and ObjectDisposedExceptions). Right now they throw WebListenerExceptions directly. Wrap these in IOExceptions before throwing them.

[2014-08-27 23:05] Tratcher opened #58 "WebListener's request stream Begin/EndRead & ReadAsync leak memory"
RequestStreamAsyncResult and it's Overlapped are not being disposed, keeping the request alive in memory even after it's over.

ReadAsync disposes them for sync completions, but not for async completions. Begin/EndRead doesn't dispose them for async completions, and sometimes not even for sync completions.

[2014-08-31 17:14] Praburaj opened #60 "IBuilder.Server.Name value populated for WebListener is different from the actual type name"
typeof(WebListener).FullName = Microsoft.Net.Http.Server.WebListener
IBuilder.Server.Name returned is Microsoft.Http.Server.WebListener

[2014-08-31 18:14] #58 closed, assigned to Tratcher

[2014-08-31 18:19] kichalla opened #61 "Chunked encoding when formatters write out the response"
I know that this is a known thing for a while now...but adding this bug however to keep track of this...
also the behavior is different from Helios in this matter...

When formatters write out the response on Helios, they are _not_ sent out as chunked encoded, but they are in case of weblistener...

[2014-09-02 02:03] #61 closed, assigned to nobody

[2014-09-02 16:45] Tratcher opened #62 "Abort/Dispose request on Read or Write error"
If the client disconnects while uploading data the Read will fail. At that point the whole request should be aborted & disposed to prevent any attempt at writing a response.

Today we do Abort/Dispose for Writes that fail synchronously (ResponseStream.Write/Async), but not for Writes that fail async (ResponseStreamAsyncResult.Fail), nor any Read failures (RequestStream.Read/Async or RequestStreamA

[2014-09-10 21:57] Tratcher opened #64 "Support host names that start with wildcards."
Http.Sys is adding support for single-level wildcards in prefrix registrations. `http://*.contoso.com/`. This should match only a single label (e.g. foo.contoso.com, but not foo.bar.contoso.com).

Add support for this in WebListener.  This consists largely of making sure our address validation does not block these types of prefixes.

[2014-09-19 19:27] Praburaj opened #67 "RequestAborted cancellation tokens not triggered for requests from Chrome"
Example:

[code]

Host this application using WebListener and make a request from IE and Chrome. Hit escape to notice that cancellation tokens are not triggered for requests coming from Chrome.

We are also noticing cancellation requests from HttpClient issued using CancelPendingRequests() api are not being honored by WebListener, but seems to work with Helios.

@Tratcher @BrennanConroy @GrabYourP

[2014-09-23 18:04] Tratcher opened #69 "WebListener should target net45 instead of aspnet50"
The base WebListener package (Microsoft.Net.Http.Server) is not intended to be ASP.NET only. Right now it targets aspnet50. Change this to net45 like the various CLR packages.

[2014-09-26 19:41] Praburaj opened #71 "IApplicationShutdown.RequestShutdown is not honored on WebListener"
Send a request to the application. It is expected to serve the outstanding requests and die. This works as expected on Helios. On weblistener this event is not being honored.

On Kestrel the event seems to be honored, but the outstanding request is not served. The host process simply gets killed. I'm filing a separate bug for kestrel in kestrel repo.

[code]

[2014-10-08 16:08] danroth27 opened #74 "Running k web should display the address and port that is being listened on"

[2014-10-20 18:35] #64 closed, assigned to Tratcher

[2014-10-20 18:36] #62 closed, assigned to Tratcher

[2014-10-20 18:37] #54 closed, assigned to Tratcher

[2014-10-20 18:38] #45 closed, assigned to Tratcher

[2014-10-20 22:24] #69 closed, assigned to Tratcher

[2014-10-20 22:24] #67 closed, assigned to Tratcher

[2014-10-20 22:24] #56 closed, assigned to Tratcher

[2014-10-24 17:08] Tratcher opened #76 "Suppress error logs during shutdown"
During shutdown WebListener spews out a bunch of errors as the message pump threads get cancelled. We could probably suppress these as expected, or at least lower the severity.

[code]

[2014-10-24 22:08] #76 closed, assigned to Tratcher

[2014-10-27 17:21] Tratcher opened #78 "Race condition in dispose"
This unit test fails with the following stack trace sometimes. HttpContext should never throw, so figure out how to clean this up.

RequestBodyTests.RequestBody_ReadAsyncPartialBodyAndDisconnectedClient_Canceled

[code]

[2014-11-12 20:14] sonjakhan opened #79 "Log Request and Response details"
Wrap the request in a scope and log the request and response details such as the path, method, and status code.

[2014-11-17 19:43] #39 closed, assigned to Tratcher

[2014-11-17 19:43] #13 closed, assigned to Tratcher

[2014-12-01 23:44] Tratcher opened #82 "Expose HttpRequestInfoTypeSslTokenBinding"
HTTP_REQUEST_V2.pRequestInfo points to an array of HTTP_REQUEST_INFO in the request. One of the new items is HttpRequestInfoTypeSslTokenBinding, where the pInfo field is a binary blob that identifies a specific ssl client. That blob should be exposed to the cookie auth middleware as a Feature and added to the Purpose, binding cookies to specific client machines (just be careful of HTTP cookies).

[2014-12-16 22:55] halter73 opened #86 "Prevent ObjectDisposedExceptions when accessing HttpContext.RequestAborted"
I have not verified that WebListener actually throws when `HttpContext.RequestAborted` is accessed after a request completes, but @Tratcher wanted me to file an issue so he could check.

This is currently an issue with Helios: https://github.com/aspnet/Helios/issues/79

[2014-12-23 15:48] #74 closed, assigned to Tratcher

[2014-12-23 15:48] #79 closed, assigned to Tratcher

[2015-03-04 22:52] kichalla opened #95 "Create a logging scope having request id"
Create a scope (having the request id) when the request is received. This information is required for any log events happening later for correlation.

[2015-03-26 17:48] #95 closed, assigned to kichalla

[2015-04-05 10:02] davidfowl opened #105 "Change Logging dependency to be Logging.Interfaces"
https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.AspNet.Server.WebListener/project.json#L10

/cc @Tratcher

[2015-04-09 22:10] #105 closed, assigned to Tratcher

[2015-04-12 04:10] danroth27 opened #110 "Don't log errors when client aborts the connection"
Currently when you run the web command for the default ASP.NET 5 Web Site template you see errors whenever the client aborts the connection (ex you cancel the browser request). Clients aborting the connection is really an expected behavior and should not be logged as a server error.

Repro steps:
- Create a new ASP.NET 5 Web Site
- Switch to the web command and ctrl-F5
- Browse to localhost:5000 b

[2015-05-04 21:17] Tratcher opened #112 "Allow manual chunking"
Currently if the application sets the Transfer-Encoding: chunked header WebListener ignores it and does its own chunking anyways.  Change this so that setting this header disables the built in chunking. Users that want automatic chunking should not set the header.  This is how IIS and kestrel already work.

[2015-05-04 21:35] Tratcher opened #113 "Clarify how to send a Connection: close response without chunking or content-length"
Related: https://github.com/aspnet/Helios/issues/148

This is the default Http/1.0 mode, bit is also allowed in 1.1.

[2015-05-15 22:14] #113 closed, assigned to Tratcher

[2015-05-15 22:14] #112 closed, assigned to Tratcher

[2015-05-18 18:38] Tratcher opened #116 "Shared Http.Sys interop code between WebListener and Helios"
WebListener and Helios both access Http.Sys native structures and methods, along with other OS resources. Right now that interop code is duplicated between the two projects. Consider consolidating this into a shared project/API.

Candidates:
- HTTP_REQUEST & company https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.Net.Http.Server/NativeInterop/UnsafeNativeMethods.cs#L634
- TokenBinding

[2015-05-18 21:06] #82 closed, assigned to Tratcher

[2015-05-27 22:59] Tratcher opened #120 "Implement write-behind response buffering"
Copy this feature from Helios. Buffer a small amount of data ( < 2kb ?) in memory before sending the response headers, unless the user calls flush. If the entire response is still buffered at the end of the request then consider setting the content-length to the buffered data length.  Note OnSendingHeaders should still fire and headers & status code should lock on the first write.

SendFile should

[2015-05-27 23:00] Tratcher opened #121 "Implement/expose kernel mode response caching"
Copy the functionality from Helios:
https://github.com/aspnet/Helios/blob/dev/src/Microsoft.AspNet.Loader.IIS/FeatureModel/FeatureContext.cs#L494

This will also require write-behind response buffering.
https://github.com/aspnet/WebListener/issues/120

[2015-06-05 23:07] Tratcher opened #123 "Header encoding"
Helios uses UTF-8 to read and write headers.  WebListener just casts bytes to chars or chars to bytes, potentially truncating characters. There is a specific ANSI code page the old spec says we're supposed to use, what does the new spec say?

[2015-06-08 20:52] #120 closed, assigned to Tratcher

[2015-06-12 19:39] #121 closed, assigned to Tratcher

[2015-06-13 09:20] davidfowl opened #125 "Add Hosting as a depenency"
Because it's nice having the server bring it in so users don't have to do it. It was originally removed because of layering but makes it a pain for people to figure out.

[2015-06-15 16:03] Tratcher opened #126 "GetContextAsync Exceptions on ARM"
When running on Win 10 IoT with ARM CoreCLR we often get the following error:

[code]

This looks similar to: http://blogs.msdn.com/b/cie/archive/2013/10/31/compute-emulator-invalid-access-to-memory-location.aspx

[2015-06-16 22:54] Tratcher opened #127 "MissingMethodException for Marshal.SizeOf"
See https://github.com/aspnet/Home/issues/632

[2015-06-18 17:41] #127 closed, assigned to Tratcher

[2015-06-23 18:57] #125 closed, assigned to Tratcher

[2015-06-29 23:02] #60 closed, assigned to nobody

[2015-06-30 23:03] Tratcher opened #131 "Implement advanced auth challenges"
Authentication was heavily refactored recently and has a few new modes around 403s. Add support for these.

Compare https://github.com/aspnet/Helios/issues/176

[2015-07-01 17:41] #71 closed, assigned to Tratcher

[2015-07-01 21:34] #131 closed, assigned to Tratcher

[2015-07-20 07:53] davidfowl opened #134 "Pinned user buffer not used in RequestStream.BeginRead code path"
https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.Net.Http.Server/RequestProcessing/RequestStream.cs#L251

RequestStreamAsyncResult already calculates the correct pinned buffer(using the offset)

[2015-07-28 22:07] #78 closed, assigned to nobody

[2015-07-28 23:16] #134 closed, assigned to Tratcher

[2015-08-03 19:11] Tratcher opened #136 "Possible deadlock in WebSockets CloseAsync"
The WebSocket server code in Microsoft.Net.WebSockets was forked from System.Net.WebSockets. The following issue was reported in System.Net and may also occur in Microsoft.Net.

Yunfeng Bai:
"There are two locks used in WebSocketBase.cs, SessionHandle and m_thisLock. Three threads are related to WebSocket operations.

Thread 1:
WebSocketBase.OnKeepAlive() => waiting on SessionHandle

Thread 2:
Web

[2015-08-04 21:29] Tratcher opened #137 "Design Microsoft.Net.WebSockets"
Microsoft.Net.WebSockets was originally forked from System.Net.WebSockets with the understanding that System.Net would later provide the shared code (WebSocketBase) as consumable libraries for Full and/or Core CLR. However System.Net has decided just to provide the abstract base classes (WebSocket) so we need to ship an implementation for WebListener.

Choices:
- Rename the package to something li

[2015-08-11 18:50] Tratcher opened #139 "React to System.Security.Cryptography.* changes in CoreFX"
https://github.com/dotnet/corefx/commit/ce0506baea623efdb74707aee0e4aa169d6f468c

![image](https://cloud.githubusercontent.com/assets/6998306/9151283/543630a0-3dfd-11e5-9d66-d5b3e0d73dbd.png)

https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.Net.WebSockets/project.json#L21

[2015-08-11 21:35] #43 closed, assigned to Tratcher

[2015-08-11 21:38] #139 closed, assigned to Tratcher

[2015-09-25 16:05] Tratcher opened #143 "Enable tests for coreclr / dnxcore50"

[2015-10-13 22:23] Eilon opened #145 "Call new IHttpContextFactory.Dispose(...) from request end"
In here: https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.AspNet.Server.WebListener/MessagePump.cs#L162-L189

Before the `try` do the create, and in the `finally` do the dispose.

See new API in https://github.com/aspnet/Hosting/issues/404.

[2015-10-16 17:53] Tratcher opened #146 "Do not un-escape forward slashes in the request path"
WebListener sits on Http.Sys and consumes it's CookedUri by default. Http.Sys defensively un-escapes %2F to a forward slash in violation of the spec. This breaks OData and other frameworks. HttpListener had an app.config setting (https://msdn.microsoft.com/en-us/library/ee624078%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396) where you could ask it to re-parse the path without un-escaping %2F. Web

[2015-10-21 18:39] troydai opened #148 "Adopt the new UrlPathDecoder"
The decoder is still being reviewed: https://github.com/aspnet/HttpAbstractions/pull/448#discussion_r42651795

Align the behavior with Kestrel.

[2015-10-28 17:12] Tratcher opened #152 "Fix concurrency issues in functional tests"
The CI executes both functional test projects in parallel. These projects dynamically allocate ports, but they both use the same range. The allocator first checks if the port is in use, but there are some tests that stop and restart the server, creating a small race where the other project could claim that port.
(https://github.com/aspnet/WebListener/blob/dev/test/Microsoft.AspNet.Server.WebListen

[2015-10-30 21:50] #145 closed, assigned to JunTaoLuo

[2015-11-03 01:05] #152 closed, assigned to JunTaoLuo

[2015-11-18 17:40] #116 closed, assigned to nobody

[2015-12-08 20:42] #137 closed, assigned to Tratcher

[2015-12-09 21:21] JunTaoLuo opened #158 "Handle null and empty valued response headers"
Similar to https://github.com/aspnet/KestrelHttpServer/issues/429, setting null values in a multi-valued known header will crash the server.

The expected behaviour is null values for headers should be ignored both for known and unknown headers. Header values of empty strings will be ignored for known headers due to API limitations but will be sent in the response for unknown headers.

[2015-12-10 00:44] #158 closed, assigned to JunTaoLuo

[2015-12-12 00:26] Tratcher opened #160 "Verify layering"
The layering between Microsoft.Net.Http.Server and Microsoft.AspNet.Server.WebListener gets a little strange in places. E.g.: Response.OnStarting and Response.OnCompleted shouldn't be on the low level API, you only need events like that in the higher layer pipeline.

Other layering or API questions:
Headers, StringValues
Response buffering
IsLocal - it just checks IP Equality, remove?
IsSecureConn

[2015-12-16 17:16] #148 closed, assigned to cesarblum

[2015-12-17 14:51] Tratcher opened #162 "InvalidCastException: StandardFeatureCollection still includes WebSockets."
https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.AspNet.Server.WebListener/StandardFeatureCollection.cs#L41

[code]

[2015-12-17 23:07] cesarblum opened #164 "Some tests hang/timeout on CoreCLR"
Hang:
- `Microsoft.Net.Http.Server.ResponseCachingTests.Caching_RequestRangeFromCache_RangeServedFromCache`
- `Microsoft.Net.Http.Server.ResponseCachingTests.Caching_RequestRangeFromCachedFile_ServedFromCache`
- `Microsoft.Net.Http.Server.ResponseCachingTests.Caching_RequestMultipleRangesFromCachedFile_ServedFromCache`

Timeout:
- `Microsoft.Net.Http.Server.AuthenticationTests.MultipleAuthTypes_Al

[2015-12-18 18:21] #162 closed, assigned to Tratcher

[2015-12-21 21:06] cesarblum opened #167 "Duplicate Content-Length headers are sent for Range requests of cached responses"
Scenario:

1) Request is sent
2) Non-chunked response (i.e. contains a `Content-Length` header) is sent and cached
3) New request is made for same URL, but includes a `Range` header
4) Cached response is sent with duplicate `Content-Length` headers: the original response's one (incorrect) and a new one indicating the length of the range response (correct)

It's actually http.sys's doing (so it cou

[2015-12-22 18:44] cesarblum opened #169 "RequestUriBuilder.LogWarning() is a no-op"
https://github.com/aspnet/WebListener/blob/6c467b0475c59be9877e94f59482dffdbc422a02/src/Microsoft.Net.Http.Server/RequestProcessing/RequestUriBuilder.cs#L581

[2015-12-22 22:16] #143 closed, assigned to cesarblum

[2015-12-22 23:06] #146 closed, assigned to cesarblum

[2016-01-05 19:08] #169 closed, assigned to cesarblum

[2016-01-08 20:15] #123 closed, assigned to Tratcher

[2016-01-11 23:19] Tratcher opened #173 "Ignore write failures"
New write failure contract:
- The response Stream Write/Async should not throw IOExceptions. Same for SendFileAsync.
- It should honor cancellation tokens passed in and abort the response.
- Apps should detect disconnects via the RequestAborted CancellationToken
- Log write failures as Debug(?)

Do we implement this at the upper or lower level? Maybe we add back HttpListener's IgnoreWriteFailures

[2016-03-07 21:51] Tratcher opened #182 "Revert test ReasonPhrase workaround"
System.Net.Http Regression: https://github.com/dotnet/corefx/issues/6721
Workaround: https://github.com/aspnet/WebListener/commit/27742594617edd8a7807c5f582021c3424bae6a0

Revert the workaround once the regression is fixed.

[2016-03-22 22:01] Tratcher opened #183 "Dealing with OPTIONS * requests"
Today WebListener will take the \* from an OPTIONS \* request and put it in the Path. However, \* isn't a path and PathString throws.

When WebListener sees a lone \* in the request line it should leave both Path and PathBase empty.

https://github.com/aspnet/ServerTests/issues/20#issuecomment-200049192

[2016-03-26 17:19] davidfowl opened #185 "Consider adding UseWebListener extension method to IWebHostBuilder"
Similar to https://github.com/aspnet/KestrelHttpServer/issues/713

[2016-03-30 23:14] #182 closed, assigned to Tratcher

[2016-04-18 16:45] Tratcher opened #191 "Resolve WebListener type and namespace conflict"
There's a conflict between the namespace Microsoft.AspNetCore.Server.WebListener and the type Microsoft.Net.Http.Server.WebListener.

[2016-04-26 01:51] #185 closed, assigned to Tratcher

[2016-05-06 23:11] cesarblum opened #195 "App exceptions not logged"
Part of https://github.com/aspnet/Release/issues/67

I have a simple app that responds to the first request successfully but throws on subsequent requests:

[code]

All the console logs show is this:

[code]

The same app on Kestrel shows the actual exception:

[code]

[2016-05-20 18:09] Tratcher opened #197 "Remove support for only ports in IServerAddresses"
Currently you can specify `http://localhost:5000/` or `5000` and they do the same thing. Remove support for just `5000` as it's not clear to users what the rest of the implied prefix is.

RE: https://github.com/aspnet/KestrelHttpServer/issues/814

[2016-05-24 21:54] JunTaoLuo opened #198 "Exception is not logged properly"
Currently exceptions details do not show up in the logger output:

[code]

https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.AspNetCore.Server.WebListener/LogHelper.cs#L79 does not actually log the exception since the exception parameter is not used in the format string. Something like https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.AspNetCore.Server.WebListener/LogHelper.c

[2016-05-27 03:07] JunTaoLuo opened #200 "Flaky tests"
I've seen quite a few async tests that are flaky on our CI causing test failures every now and then. They usually pass when they are rerun.

[code]

These tests were observed to fail in these builds:

http://aspnetci/viewLog.html?buildId=102146&tab=buildResultsDiv&buildTypeId=Lite_WebListener
http://aspnetci/viewLog.html?buildId=94996&tab=buildResultsDiv&buildTypeId=Lite_WebListener
http://aspnetc

[2016-06-07 17:19] #50 closed, assigned to nobody

[2016-06-07 17:20] #51 closed, assigned to nobody

[2016-06-22 17:55] #126 closed, assigned to moozzyk

[2016-06-22 18:32] Tratcher opened #204 "[Refactor] move some statics from UnsafeNativeMethods to NativeRequestContext"
RE: https://github.com/aspnet/WebListener/pull/203

NativeRequestContext has several offsets for the request blob (alignment, original address, etc.). There are multiple static methods in UnsafeNativeMethods that take all of these parameters and access data inside the structure. These statics should be moved to instance methods in NativeRequestContext so that all of the crazy offset logic is conta

[2016-07-13 21:34] Tratcher opened #207 "Open Source WebListener"
Pretty please?

[2016-07-13 21:36] Tratcher opened #208 "Finalize branding and package names"
Is WebListener the final name?

What about the package names?
Microsoft.AspNetCore.Server.WebListener
Microsoft.Net.Http.Server
Microsoft.Net.WebSockets.Server

RE: https://github.com/aspnet/WebListener/issues/191

[2016-07-13 21:38] #198 closed, assigned to JunTaoLuo

[2016-07-13 21:44] Tratcher opened #209 "WebSocket layering"
Should we use the native implementation or switch to the managed one? Right now you can use either.

Also, we need something layered appropriately so that it can be used both in and outside of Asp.Net. If the managed one gets moved to CoreFx that will help.

[2016-07-13 23:04] Tratcher opened #210 "Flaky caching tests"
Many of the tests dealing with kernel caching are flaky and fail to cache at random.

e.g.
Caching_RequestCacheControlNoCache_NotRespectedAndServedFromCache
Caching_Expires_Cached

[2016-07-14 20:47] #197 closed, assigned to JunTaoLuo

[2016-07-14 21:44] #195 closed, assigned to nobody

[2016-07-18 23:03] #208 closed, assigned to Tratcher

[2016-07-18 23:05] #191 closed, assigned to Tratcher

[2016-07-19 16:09] #207 closed, assigned to Eilon

[2016-07-26 17:00] pranavkm opened #214 "Use ConditionalFacts to skip tests in xplat"
WebListener tests fail when run in xplat environment. This is understandable. We work around this in by baking in special knowledge of this repo (and a few others) in the CI build configuration so that they skip these during test pass. Instead the tests should use use `ConditionalFact`s to no-op at runtime so that `build` just works.

[2016-07-27 19:17] Tratcher opened #215 "Request.IsUpgradable needs to check for >= Win8"
Request.IsUpgradable relies on new functionality in Win8 and later (e.g. WebSockets). How do we get the OS version for NETSTANDARD1_3? See ComNetOS.IsWin8OrLater

[2016-07-27 22:06] Tratcher opened #216 "WebListener Feature properties cannot be set to null"
Consider the following from FeatureContext:

[code]

This is intended as a lazy initializer pattern, however if the caller sets QueryString to null, they get back the default value instead of null.

Proposal: most of these fields are not actually expensive, initialize them in the constructor. For ones that are expensive you need an additional flag indicating if the initialization has happened yet.

[2016-08-03 16:50] #209 closed, assigned to Tratcher

[2016-08-12 17:58] #136 closed, assigned to Tratcher

[2016-08-16 18:34] Eilon opened #228 "Add readme.md/contributing/license to this repo"

[2016-08-16 18:35] Eilon opened #229 "Update package descriptions, tags, etc."
These:
- https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.Net.Http.Server/project.json
- https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.AspNetCore.Server.WebListener/project.json

Need descriptions, tags, etc.

[2016-08-16 18:41] Tratcher opened #230 "Disable TLS token binding feature"
The feature needs to be updated to 1.0 version of the spec (now available in the latest Win10 dev branches). Disable it for the initial 1.0 WebListener release as there won't be a released version of Windows that supports the final spec yet.

[2016-08-18 21:34] #160 closed, assigned to Tratcher

[2016-08-19 18:28] #230 closed, assigned to Tratcher

[2016-08-19 22:44] #216 closed, assigned to Tratcher

[2016-08-22 17:56] #173 closed, assigned to Tratcher

[2016-08-22 22:05] #215 closed, assigned to BrennanConroy

[2016-08-23 16:41] Eilon opened #237 "Remove public System.Threading.PreAllocatedOverlapped type"
The public type in this file: https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.Net.Http.Server/Overlapped/PreAllocatedOverlapped.cs

Shouldn't be here, or shouldn't be public. ASP.NET types should never add "BCL" public types.

Looking at the code, it's not clear to me that it needs to be public, or that it's even really needed at all.

cc @muratg

[2016-08-23 19:18] #237 closed, assigned to Tratcher

[2016-08-23 19:25] #86 closed, assigned to Tratcher

[2016-08-26 20:42] muratg opened #241 "Verify WebListener for release"
## Checklist

_Statues: in progress_
### Under default configuration
- [x] https vs http
- [x] Method: GET, POST, OPTIONS, HEAD, PUT, DELETE are correctly supported
- [x] Domain and port: correctly presented to application
- [x] Path and Query: correctly presented to application, correctly encoded/decoded
- [x] Headers: correctly presented to application
- [x] Body: correctly presented to applicat

[2016-08-29 16:56] #183 closed, assigned to Tratcher

[2016-08-31 21:21] #204 closed, assigned to Tratcher

[2016-09-01 19:13] #241 closed, assigned to troydai

[2016-09-01 23:20] troydai opened #248 "Treat invalid UTF8 encoded path string correctly."
For cases where the escaped path is not valid UTF8 encoded, WebListener's behavior is not ideal. In some cases it returns `BadRequest`, for example overlong string `%F0%8F%8F%BF`. In other cases it returns `OK` but decode the path incorrectly, for example incorrect overlong ascii `%C0%A4`.

The behavior should be kept inline with Kestrel.

[2016-09-02 23:30] #167 closed, assigned to Tratcher

[2016-09-02 23:30] #210 closed, assigned to Tratcher

[2016-09-02 23:32] #164 closed, assigned to Tratcher

[2016-09-06 21:31] #200 closed, assigned to JunTaoLuo

[2016-09-06 23:30] #49 closed, assigned to troydai

[2016-09-07 22:46] #110 closed, assigned to Tratcher

[2016-09-09 20:55] #229 closed, assigned to Tratcher

[2016-09-30 23:15] #248 closed, assigned to nobody

[2016-10-05 00:01] halter73 opened #259 "Automatically chunk HTTP/1.1 Connection: close responses"
Chunked responses seem more reliable than relying on the TCP connection to close in order to end the response. Kestrel is changing it's behavior in 1.1 to automatically chunk HTTP/1.1 responses, even if they have the `Connection: close` header is set.

More context can be found here: https://github.com/aspnet/KestrelHttpServer/pull/962#discussion_r81381973

Also FWIW, node.js follows the behavior

[2016-10-05 07:17] leastprivilege opened #260 "Supported OS"
What are the OS requirements for WebListener?

[2016-10-05 07:33] davidfowl commented on #260
Windows >= 7, WebSockets requires windows 8

/cc @Tratcher

[2016-10-05 17:29] Eilon commented on #228
Travis enabled.
AppVeyor enabled, key = 413hlt87c3p24on8

[2016-10-05 17:29] Eilon commented on #228
Oops, didn't mean to close this.

[2016-10-05 18:46] #259 closed

[2016-10-05 20:49] Tratcher commented on #228
Travis? WebListener shouldn't be added to travis, it's Windows only.

[2016-10-05 21:35] Eilon commented on #228
I added both. Can this not even build when not running on Windows? I know nothing will run, but I would think it could build, no?

[2016-10-05 21:36] Tratcher commented on #228
It could build, but then it would try to run the tests and explode. Why build if you can't test? Just because Travis is more reliable than AppVeyor?

[2016-10-05 21:54] Tratcher opened #263 "Flaky CI tests"
Now that WebListener is public and actually running on the CI and AppVeyor, some of the tests are flaky in those environments. Here's a running list of tests to investigate:
- ResponseBodyTests.ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts
- ResponseBodyTests.ResponseBodyWriteExceptions_ClientDisconnectsBeforeSecondWriteAsync_WriteThrows
- Microsoft.AspNetCore.Server.

[2016-10-07 22:58] #214 closed

[2016-10-10 16:50] #228 closed

[2016-10-12 17:03] pakrym opened #266 "Check Identity.AuthenticationType usages in WebListener"
See: https://github.com/aspnet/IISIntegration/issues/231

[2016-10-25 07:56] khellang opened #268 "NETStandard.Library dependency for net451 target"
What's the reason you have to pull down `NETStandard.Library` for the `net451` target? That's quite a few unnecessary dependencies, no?

![image](https://cloud.githubusercontent.com/assets/582487/19677334/22dbfe8c-9a99-11e6-8e0d-1d8aa57025b5.png)

[2016-10-25 13:51] Tratcher commented on #268
Not sure, but we do it for all of our packages, not just this one. @pranavkm?

[2016-10-25 15:58] pranavkm commented on #268
Yeah. We decided we were going to reference NETStandard.Library in all our class library projects. This follows the guidelines and what users get when you start from a ClassLibrary template.

[2016-10-25 20:44] JunTaoLuo opened #270 "Hanging SendFile Tests"
The tests `ResponseSendFileExceptions_ClientDisconnectsBeforeSecondSend_SendThrows` and `ResponseSendFile_ClientDisconnectsBeforeSecondSend_SendCompletesSilently` are failing consistently on Win7 and Win2008R2 on desktop CLR.

The tests hang on the first `SendFileAsync` calls, specifically at https://github.com/aspnet/WebListener/blob/dev/test/Microsoft.Net.Http.Server.FunctionalTests/ResponseSend

[2016-10-25 21:48] khellang commented on #268
Uh... No? It's referenced for `netstandard` targets, not `net451`?

I don't understand why this is part of the guidelines? I've heard this argument before, but never *why*. Surely there has to be a better reason than "someone did this in our templates"?

[2016-10-25 23:30] Tratcher opened #271 "WebListener vs HttpListener"
Several folks have asked about the differences between WebListener and [System.Net.HttpListener](https://msdn.microsoft.com/en-us/library/system.net.httplistener%28v=vs.110%29.aspx) .

Both components are C# HTTP servers built on top of Window's Http.Sys API. WebListener was originally forked from the HttpListener code, so they have a lot in common, but forking the code allowed us to make both fun

[2016-10-25 23:42] Eilon commented on #268
@khellang can you share the specific concern? We did some analysis about this because we also had some concerns, but we found no significant problems with it.

The actual extra references don't seem to have any noticeable effect on things (aside from more framework things being available, but that's generally a *good* thing).

And there are in some cases a few extra files in the build output due t

[2016-10-26 07:26] khellang commented on #268
My concern is/was that this would en up bloating `net451` targets significantly, without necessarily any benefits, since most of the referenced types will already be in the GAC.

Nice. So basically, this will result in `System.Collections.dll` ending up in the bin folder, but it will only forward the existing types to the `mscorlib` equivalent on `net451`?

I get that. The thing I *didn't* get was

[2016-10-26 07:26] #268 closed

[2016-10-26 17:26] Eilon commented on #268
@khellang oh yes, if there's an implementation in the underlying framework, that implementation will be used. No "code duplication" in this case.

[2016-10-26 18:22] pranavkm commented on #268
Here are some of my notes from investigation with EF and desktop targeting projects:

1)	Start with a csproj ClassLibrary
2)	Added Microsoft.EntityFrameworkCore 1.0.0
3)	Added NETStandard.Library 1.6.0
4)	Diff the results of step 3 and 4.

This is comparable to diffing EF 1.1.0 and NETStandard.Library 1.6.1:

For NET46:

Packages.config changes:

[code]

Additional binaries in the bin directory:

[2016-10-31 21:57] Tratcher opened #273 "Allowing non-ascii headers"
See https://github.com/aspnet/KestrelHttpServer/issues/1144

[2016-10-31 22:04] Tratcher opened #274 "Update hosting dependency to 1.0.1"
https://github.com/aspnet/Hosting/issues/873

[2016-11-02 21:02] muratg commented on #266
@pakrym could you do a quick check?

[2016-11-02 23:39] pakrym commented on #266
I have verified that scenario from IISIntegration issues successfully authenticates going though code path that hits `identity.AuthenticationType` when running WebListener as different local user.

[2016-11-03 01:55] muratg commented on #266
👍

[2016-11-03 01:55] #266 closed

[2016-11-03 20:42] Tratcher opened #275 "Many tests hang on VMs with only one core"
Most of the tests in Microsoft.AspNetCore.Server.WebListener.FunctionalTests are multi-threaded, but some of them have some poor threading practices, like calling Task.Result. See Server_AppException_ClientReset for a bad example.

The CI agents have multiple cores, but the machines we set up for local dev and debugging don't always.

[2016-11-03 21:00] muratg commented on #270
@Tratcher please feel free to move to 1.2.0 if investigation takes too long.

[2016-11-04 16:31] timomta opened #276 "HTTP Error 503. The service is unavailable."
Hello, I've set up a Server Core 2016 machine with .Net core installed on it. I have reserved the urls `http://*:80` and `https://*:443`, installed an ssl cert, and associated it with the https url.

When I use the code from Getting Started (https://docs.asp.net/en/latest/getting-started.html), I am able to get the expected Hello message from ASP.Net core using Kestrel. However, when I change to W

[2016-11-04 16:33] timomta commented on #276
Hmm, the star character is special and does not show up. The urls were supposed to be http://<star>:80 and https://<star>:443 in the code and text of the last message.

[2016-11-04 16:39] Tratcher commented on #276
What console output do you get when you run it?

[2016-11-04 16:43] timomta commented on #276
Hi Chris,

Here is a shot of the console currently:

C:\hwapp>dotnet run
Project hwapp (.NETCoreApp,Version=v1.0) will be compiled because expected outputs are missing
Compiling hwapp for .NETCoreApp,Version=v1.0

Compilation succeeded.
    0 Warning(s)
    0 Error(s)

Time elapsed 00:00:02.8963508

Hosting environment: Production
Content root path: C:\hwapp\bin\Debug\netcoreapp1.0
Now listening o

[2016-11-04 17:35] muratg commented on #274
@JunTaoLuo were you planning to do this?

[2016-11-04 18:28] JunTaoLuo commented on #274
Yea I'll take care of it while updating all of our repos for 1.0.3 patch. I'm assuming the tag should be changed to patch-approved?

[2016-11-04 18:58] Tratcher commented on #276
I've seen this happen when the netsh reservations do not exactly match the UseUrls values.
http://stackoverflow.com/questions/22293445/http-503-service-is-unavailable-when-trying-to-browse-signalr-hubs/22972905#22972905

This can also happen if there is another more specific registration for that port like `http://mydomain:80/`. * is considered a weak wildcard, it only matches if nothing else matc

[2016-11-04 19:55] timomta commented on #276
I checked the reservations with netsh http show urlacl, and I had created them with a strong wildcard.
I changed the code to match the reservations: .UseUrls("http://+:80", "https://+:443")
WebListener properly responds to requests now! Thanks!
For whatever reason Kestrel worked with the weak wildcard.

[2016-11-04 20:26] Tratcher commented on #276
Kestrel does not use netsh/http.sys. The HTTPS setup instructions for Kestrel are very different.

[2016-11-04 20:26] #276 closed

[2016-11-08 10:28] davidfowl opened #279 "Clean clone of dev failed to build"
Microsoft.AspNetCore.Server.WebListener.FunctionalTests.ResponseCachingTests.Caching_MaxAge_Cached [FAIL]
[code]

[2016-11-08 14:09] Tratcher commented on #279
OS Version?

Was the failure consistent or flaky?

[2016-11-08 16:30] davidfowl commented on #279
Dunno, ran it once.

[code]

[2016-11-09 01:09] JunTaoLuo commented on #274
This is done in https://github.com/aspnet/WebListener/commit/d3b18542b18e30e36cec9d59162a1f41bccfc36b

[2016-11-09 01:09] #274 closed

[2016-11-09 19:50] JunTaoLuo commented on #263
- ResponseBody_WriteContentLengthTooMuchWritten_Throws

[2016-11-15 16:18] ivan-prodanov opened #280 "Getting 401 Unauthorized when using Kerberos"
I have a valid SPN set for the environment I'm testing this on and for the user that I run the application with, Negotiate works just fine (without falling back to NTLM) using WebListener. I can use just Negotiate:Kerberos as a provider in IIS and it works when the application is configured to use Kestrel. However if I try to use AuthenticationSchemes.Kerberos like below I get response 401 with ab

[2016-11-15 17:48] Tratcher commented on #280
Side note: you appear to be using a pre-1.0 package, the APIs have changed slightly.
https://github.com/aspnet/WebListener/blob/dev/samples/SelfHostServer/Startup.cs#L20-L24

Does it work for you in IIS if you enable the kernel mode option? That's what WebListener uses.

[2016-11-15 22:48] ivan-prodanov commented on #280
Indeed I was. Still same issues though. Here's the updated code:

[code]

See the _Negotiate | Kerberos_ thing? This _seems_ fix it - negotiates only with Kerberos. However... I see that WebListener and Kestrel & IIS act in very different way in terms of authentication. I have much more serious 401 issue right now.

Using the following topology
Domain A:
  Client A
  Domain Account A

Domain B:

[2016-11-21 22:12] #279 closed

[2016-11-22 19:15] Tratcher opened #281 "Support attaching to an existing request queue"
Http.Sys has an API where you can attach to an existing request queue by name rather than creating a new one. In this mode you'd assume the queue was already configured so most settings would be ignored (e.g. prefixes, timeouts, auth, etc.).

This can be used in conjunction with the HttpWaitForDemandStart API where a central dispatcher sets up the queue, listens for requests, and then activates th

[2016-12-05 08:39] NimaAra commented on #271
Thanks for details above, so just to make it more clear for me, I was under the impression that _WebListener_ was/is Windows specific but then as you mentioned above, if ported to _.NET Core_ then we will have 2 XPlat servers (_Kestrel_ & _WebListener_) correct? With _Kestrel_ being ridiculously fast and _WebListener_ more reliable/secure due to _HttpSys_ and all.

[2016-12-05 08:40] davidfowl commented on #271
WebListener *is* and will always be windows specific.

[2016-12-05 08:53] NimaAra commented on #271
@davidfowl Understood, tnx :-)

[2016-12-05 10:23] NimaAra opened #282 "Is there going to be an official OWIN host?"
There is already the [OwinWebListener](https://github.com/damianh/OwinWebListenerHost) but is there a plan to have an official _Microsoft.Owin.Host.WebListener_ similar to _Microsoft.Owin.Host.HttpListener_ for those of us who are not ready to move to _ASP .NET Core_?

[2016-12-05 16:06] davidfowl commented on #282
Nope.

https://blogs.msdn.microsoft.com/webdev/2014/11/14/katana-asp-net-5-and-bridging-the-gap/

That said, it should be trivial to write one based on the older HttpListener implementation but it's not something we're going to maintain.

[2016-12-05 16:07] davidfowl commented on #282
Oh wait @damianh did it already! OSS FTW 😄

[2016-12-05 16:41] damianh commented on #282
But it's not official! ;)

[2016-12-05 16:47] NimaAra commented on #282
@davidfowl That link is very helpful, interesting how I missed that despite following up every single one of ASP.Net stand-ups!

@damianh Thanks for the library, I was mainly concerned about the rate of allocation in your library but then after benchmarking didn't notice much difference. So we will start using that. :-)

[2016-12-05 17:35] damianh commented on #282
@NimaAra, I won't claim the lib is mine. It is a fork of the HttpListenerHost so if any warts there it's safe to say they have been forked too ;)

I created this for the same reasons you mentioned.

I also fully respect @davidfowl's position that the aspnet teams' focus means this is not something they want to do. So OSS FTW indeed :)

I will of course take PRs for any improvements, I expect I wil

[2016-12-05 18:35] NimaAra commented on #282
@damianh Okay, that is great, I shall let you know if we come across anything we could improve. Thanks.

[2016-12-05 18:35] #282 closed

[2016-12-06 23:09] Tratcher commented on #281
See the tratcher/sharedQueues branch

[2016-12-06 23:33] Tratcher opened #283 "Merge and rename packages and components to HttpSys*"
Merge Microsoft.AspNetCore.Server.WebListener and Microsoft.Net.Http.Server into Microsoft.AspNetCore.Server.HttpSys.

Make the low level WebListener API internal and remove anything not used by ASP.NET Core. Merge WebListenerOptions and WebListenerSettings.

Rename WebListener* to HttpSys*.

Remove websockets? Defer to middleware? It's the same implementation anyways.

[2016-12-07 16:05] Tratcher opened #284 "Automatic Cookies challenge overridden by Windows Authentication since 1.1.0"
_From @c-s-n on December 1, 2016 10:31_

### Background
I use the IISIntegration with `IISOptions.AutomaticAuthentication = true` and `IISOptions.ForwardWindowsAuthentication = true`. Furthermore I use the Cookie Authentication (without Identity) with `CookieAuthenticationOptions.AutomaticAuthenticate = true` and `CookieAuthenticationOptions.AutomaticChallenge = true`. This should be fine in combi

[2016-12-07 16:05] Tratcher commented on #284
Needs investigation. We have tests for this scenario in MusicStore and nobody else has reported this yet. Something this fundamental would have broken anyone using Cookies on IIS.

Please share your project.json and Startup.cs, or a whole repro app pushed to github.

[2016-12-07 16:05] Tratcher commented on #284
_From @c-s-n on December 7, 2016 12:40_

Essential information I actually missed to mention in the issue is that we use a **hybrid approach of self-hosting and IIS-hosting**, selectable via a configuration option. In the one case the standalone WebListener is used, in the other IISIntegration with Kestrel.

The issue at least **occured in the self-hosting/WebListener scenario** - and maybe I mixed

[2016-12-07 16:05] Tratcher commented on #284
Interesting, WebListener Auth + Cookies is probobly not a scenario we have test coverage for. You're right, WebListener does not have a switch to disable AutomaticChallenge. If you want to use the two together you'd have to disable automatic challenge on CookieAuth only challenge it by name. Though I have to wonder why you have windows auth and cookie auth enabled together.

I'm going to move this

[2016-12-07 17:27] c-s-n commented on #284
Thanks for moving it appropriately.

Apparently we have the need to login a user via Windows or Forms Auth. There we have two ways of achieving this, depending on the customer's requirements:
* Allowing the user to login with Windows Auth, not setting a cookie at all and populating missing claims on every request using a middleware. The controllers require an authenticated user and both Cookies an

[2016-12-09 22:00] Tratcher commented on #284
See aspnet/Security#1062 for general guidance on mixing auth types

[2016-12-15 11:40] jpmnteiro opened #285 "Client certificate authentication"
Hey,

Setting up a couple of test projects using Kestrel and WebListener using HTTPS and client certificate authentication.  I've managed to do both parts using Kestrel, but I can't seem find a way or any literature of how to do the client certificate authentication part using WebListener.

So, is it possible at all and if it is, is there an example somewhere?

[2016-12-15 19:42] Tratcher commented on #285
Can you show what you did for Kestrel? That should help us understand what you're trying to achieve with WebListener.

[2016-12-16 09:23] jpmnteiro commented on #285
@Tratcher thank you for the reply, here's the Kestrel code:

[code]

[2016-12-16 11:41] jpmnteiro commented on #285
@Tratcher I managed to get it working. Given that WebListener requires the SSL certificate to be bond using `netsh`, it was a matter of setting `clientcertnegotiation` to `enable` when adding the SSL certificate to the port.

So, much like SSL, it's not something that concerns WebListener directly, but rather Http.sys

For anyone who may come across this in the future:

`netsh http add sslcert ipp

[2016-12-16 11:41] #285 closed

[2016-12-21 21:27] Tratcher opened #287 "Inconsistent behavior of Windows authentication between IIS integration and WebListener"
_From @leastprivilege on December 21, 2016 14:17_

Both add Negotiate and NTLM.

WebListener gives the schemes display names of `Windows:Negotiate` and `Windows:NTLM`.
With IIS integration the display names are empty.

Since display name is often used in generic code to populate the login page - it would be nice to always have a display name - or never. But be consistent ;)

_Copied from original

[2016-12-21 21:28] Tratcher commented on #287
The descriptions were removed from IISIntegration, so we should also remove them from WebListener.

[2017-01-04 19:09] Tratcher commented on #263
These and a few others got worse when we merged the two test projects and more tests ran in parallel. Adding `[assembly: CollectionBehavior(DisableTestParallelization = true)]` helped significantly.

[2017-01-04 21:36] Tratcher opened #289 "[Announcement] WebListener packages and APIs merged and renamed"
The packages `Microsoft.AspNetCore.Server.WebListener` and `Microsoft.Net.Http.Server` have been merged into a new package `Microsoft.AspNetCore.Server.HttpSys`. The namespaces have been updated to match.

The WebHostBuilder extension has similarly been renamed from `UseWebListener` to `UseHttpSys`. The options for this extension have been flattened as shown [here](https://github.com/aspnet/MusicS

[2017-01-04 21:48] scottaddie commented on #289
Will this repo be renamed to "HttpSys" as well?

[2017-01-04 22:01] Tratcher commented on #289
Not right now. We'll continue to use WebListener as the project codename.

[2017-01-04 22:10] davidfowl commented on #289
We should probably rename the repository as well /cc @Eilon

[2017-01-05 00:30] Tratcher commented on #289
Just don't name it flat HttpSys, that would be too confusing. HttpSysIntegratoin like IISIntegration?

[2017-01-05 00:36] Eilon commented on #289
Let me know and I'll rename it... GitHub will auto-redirect everything so it's quite safe.

[2017-01-05 01:43] davidfowl commented on #289
Why not? https://github.com/tjanczuk/httpsys 😄

HttpSysIntegration is fine.

[2017-01-05 01:49] Eilon commented on #289
Let's get confirmation from @DamianEdwards and I'll rename.

[2017-01-05 18:02] Tratcher commented on #289
Is HttpSysServer any better? It mirrors KestrelHttpServer.

[2017-01-05 18:10] davidfowl commented on #289
I like it better

[2017-01-05 18:42] DamianEdwards commented on #289
HttpSysServer

[2017-01-05 20:15] Eilon commented on #289
DONE.

[2017-01-05 23:11] Tratcher commented on #289
One additional change: Direct WebSocket support has been removed from this new package. The application must now add the WebSocket middleware for WebSocket support. This mirrors the Kestrel architecture. There should not be any functional changes because the two components were previously sharing the same implementation code.

See https://github.com/aspnet/WebSockets/blob/b996ee39a429479e0bc301d19

[2017-01-09 23:28] darrelmiller commented on #271
Are you aware of any changes in WebListener over HttpListener that would improve the performance of doing the TLS handshake?

[2017-01-10 05:28] davidfowl commented on #271
They are both using the same underlying API, SChannel https://msdn.microsoft.com/en-us/library/windows/desktop/aa380123(v=vs.85).aspx via http.sys so no

[2017-01-11 19:44] Tratcher opened #293 "Support creating a request queue with ACLS"
HttpCreateRequestQueue supports creating a request queue that takes credentials. This allows a process to access a prefix registration using credentials different from those of the process.

Filing for future investigation, recommend Backlog.

[2017-01-19 18:03] Tratcher opened #297 "Listen on http://localhost:5000 by default, prefer direct configuration"
We're moving the default address from Hosting to the servers to avoid conflicts with the direct configuration APIs.

Log Debug if the default is used.

Direct configuration should override and update IServerAddresses.

[2017-01-21 01:21] davidfowl opened #298 "Don't wait indefinitely for requests to drain"
Add a timeout on the Wait in MessagePump.Dispose:

https://github.com/aspnet/HttpSysServer/blob/5fca3b0022a5125e0dad98004abd4e01983f98fe/src/Microsoft.AspNetCore.Server.WebListener/MessagePump.cs#L225

This also needs to be fixed in 1.0.x

/cc @muratg

[2017-01-23 13:30] tomhreb opened #299 "Malformed header causes infinite loop and never processes that request"
GET (for example) request with malformed header causes the process to go into infinite loop, causing high CPU usage and never gets into actually processing the request.

Example header: Accept:*/*Content-Type:application/json.

[2017-01-23 15:08] #299 closed

[2017-01-23 15:09] tomhreb commented on #299
It's bug in Microsoft.AspNetCore.Mvc, not here.

[2017-01-23 16:04] blowdart commented on #299
Linked to https://github.com/aspnet/Mvc/issues/5707

[2017-01-24 22:01] Tratcher opened #301 "[1.1.1 patch] Don't wait indefinitely for requests to drain"
Backport to 1.1.1 @muratg
https://github.com/aspnet/HttpSysServer/issues/298

[2017-01-24 22:01] Tratcher opened #302 "[1.0.2 patch] Don't wait indefinitely for requests to drain"
Backport to 1.0.2 @muratg
#298

[2017-01-24 22:50] #298 closed

[2017-01-25 18:17] Tratcher opened #305 "More graceful shutdown"
The current shutdown procedure is to:
- Mark as shutting down
- stop message pump loops
- 503 any new requests
- wait (for at timeout) for active requests to drain
- stop/dispose the listener

Since the packages/layers were merged maybe this could be more graceful. It may be possible to detach the urlgroup from the request queue and still let requests drain gracefully. Then Http.Sys will be the on

[2017-02-02 02:59] PinpointTownes opened #306 "AuthenticationHandler should use WindowsPrincipal instead of ClaimsPrincipal"
Unlike IIS's authentication handler, HttpSysServer doesn't use `WindowsPrincipal` and directly relies on the `ClaimsPrincipal` base class to represent non-empty principals. This inconsistency causes weird issues when using `IsInRole(...)` with HttpSysServer, as `ClaimsPrincipal.IsInRole(...)` doesn't have the additional logic implemented by `WindowsPrincipal.IsInRole(...)`.

[This line](https://gi

[2017-02-02 19:39] natemcmaster opened #307 "Upgrade to VS 2017"

[2017-02-03 22:18] Tratcher opened #309 "Renenable .tt generated code for RequestHeaders.Generated.tt"
When we converted from project.json to csproj the .tt code generation stopped working. Figure out how to hook it back up in the csproj world.

[2017-02-06 19:54] #307 closed

[2017-02-08 17:15] Eilon commented on #301
Re-opening because this not yet approved.

[2017-02-08 22:48] Eilon commented on #302
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 22:52] Eilon commented on #301
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 22:54] #301 closed

[2017-02-08 23:11] #302 closed

[2017-02-21 19:30] #283 closed

[2017-02-21 19:36] Tratcher opened #316 "Look for new perf optimizations as a result of the layer merging"
In https://github.com/aspnet/HttpSysServer/issues/283 we merged the packages and layers and hid the lower level API. Profile and see what optimizations can be made now that there's no strict layering boundary.

[2017-02-22 15:12] vanjar opened #317 "Memory leak in WebListener when using NTLM"
Memory leak occurs in lsass.exe process when using WebListener (.NET Core 1.1). Authentication scheme must be set to `AuthenticationSchemes.NTLM`.

Client is sending requests using `System.Net.HttpClient` (.NET 4.6) with credentials set to `CredentialCache.DefaultCredentials`.

Client and server must be on different machines.

**Server:**
[code]
**Client:**
[code]

Sample solution attached:
[WebLi

[2017-03-01 09:45] vanjar commented on #317
After further investigation  (rel/1.1.0 and also dev branch), we found two problems that were causing leaks. Following fixes are for rel/1.1.0 branch.

1) Disposing of User.Identity in `Microsoft.Net.Http.Server.Request` was left to GC and that was causing temporary memory leak. We fixed that by adding `(User?.Identity as IDisposable)?.Dispose();` in `Dispose() `function of `Microsoft.Net.Http.Ser

[2017-03-02 22:00] Tratcher commented on #317
Conceptually this makes sense, but I haven't been able to reproduce the leak on Win10 Insiders branch. What OS version are you using? I would expect Http.Sys to close the AccessToken handle at the end of the request. "This token is valid only for the lifetime of the request."

[2017-03-02 23:58] #297 closed

[2017-03-03 08:54] vanjar commented on #317
Leaks are happening only when server and client are on different machines. We were not able to reproduce it when both were on localhost.
Testing environments for server were Microsoft Windows 10 Enterprise (10.0.14393 N/A Build 14393)  and Windows Server 2012 R2 (6.3.9600 N/A Build 9600)

[2017-03-03 11:54] Tratcher commented on #317
I was using different machines.

[2017-03-06 12:28] vanjar commented on #317
Are you trying to reproduce bug on example provided? If not, please configure HttpClient, so that NTLM negotiation occurs on every request:

[code]

[2017-03-09 00:10] dougbu opened #322 "Gets tests working again on AppVeyor"
Can't seem to find the old WebListener history on AppVeyor. But, as mentioned in PR #321, the recently-enabled tests using the correct name (https://ci.appveyor.com/project/aspnetci/httpsysserver/history) are not succeeding.

It appears all failures relate to IPv6 expectations i.e. the tests think IPv6 will definitely be enabled and the AppVeyor setup uses only IPv4. Suggest the failing tests shou

[2017-03-09 00:15] muratg commented on #322
@JunTaoLuo could you take a look?

[2017-03-09 04:51] Eilon commented on #322
BTW I deleted and recreated the AppVeyor project for this repo because the rename of this repo was borking something. Hence, no history.

BTW if IPv6 is available for AppVeyor but we have to configure it, that could be a worthwhile avenue to investigate.

[2017-03-14 00:59] JunTaoLuo commented on #263
- ResponseBodyTests.ResponseBody_WriteContentLengthNotEnoughWritten_Aborts

[2017-03-15 12:48] jchannon opened #326 "Crash when using WebListener and Negotiate auth scheme"
**Scenario :**

Server is running with `options.ListenerSettings.Authentication.Schemes = AuthenticationSchemes.Negotiate;`

Client IE settings to automatically logon sites in the intranet zone. URL of site is not in the the sites list.

Client makes request to server and it crashes the server. Put the URL in the sites and auth takes place and all is well.

We ran DebugDiag to try and get a crash

[2017-03-15 16:25] Tratcher commented on #326
OS? Windows 7 / 2008 R2?
Framework? .NET or .NET Core?
WebListener version?

api-ms-win-core-io-l1-1-1.dll is a missing API set not present on older Windows versions but can be bundled or installed. I'll work on a repro and a workaround.

[2017-03-15 16:27] moozzyk commented on #326
(or in case of standalone applications the application was published for a newer version of Windows that it is running on e.g. an published for win8-x64 being run on win7-x64)

[2017-03-15 17:04] jchannon commented on #326
It is a self contained app published with `win7-x64`

It is .net core `"Microsoft.AspNetCore.Server.WebListener": "1.1.0",`

Running on Windows 2008 R2 SP1

[2017-03-17 12:46] jchannon commented on #326
Just a bit more info from the customer.

Their Local Intranet settings does in fact have a `*.enterprise.com` wildcard in Site List but when they visit `https://server.enterprise.com` we see the above stack trace. On a machine where they can edit these settings if they directly put `https://server.enterprise.com` in the Site List all is well.

[2017-03-17 19:30] Tratcher commented on #326
That call stack looks like a secondary exception (which we should fix), but it doesn't tell us what the primary exception was. Can they reproduce it reliably enough to capture the first chance exception with the debugger?

[2017-03-17 19:35] Tratcher commented on #326
Since it's a self-contained app, do you have 'api-ms-win-core-io-l1-1-1.dll' in your app directory?

[2017-03-17 20:03] jchannon commented on #326
The dll is there.

I can send the dump file if you like?

On Fri, 17 Mar 2017 at 19:35, Chris R <notifications@github.com> wrote:

[2017-03-20 09:42] jchannon commented on #326
The dump file is here - https://drive.google.com/file/d/0B4zNlOLPdHfeYVdMT2lrT1FVOE0/view?usp=sharing

[2017-03-20 19:46] JunTaoLuo commented on #322
Seems like tests are passing. Maybe https://github.com/aspnet/HttpSysServer/commit/bce80821c8b76a10882e5d2ad2a86ab05865ed75 fixed it?

[2017-03-20 19:46] #322 closed

[2017-03-21 11:45] jchannon commented on #326
Any update on this, customer = large international bank

[2017-03-21 15:46] jbagga commented on #263
- ResponseBodyTests.ResponseBodyWriteExceptions_ClientDisconnectsBeforeSecondWrite_WriteThrows
Assert.Throws() Failure
Expected: typeof(System.IO.IOException)
Actual:   (No exception was thrown)

[2017-03-21 19:49] Tratcher commented on #326
@jchannon urgent customer issues should be routed to Microsoft Support (https://support.microsoft.com/). The dev team does not have the bandwidth for all investigations.

[2017-03-22 21:44] Tratcher commented on #317
That made a difference. Over lunch lsass.exe leaked about 165,000 handles and 75mb.

[2017-03-22 22:32] Tratcher commented on #326
I found the primary exception in the dump:
[code]

It's actually the same error triggered slightly earlier:
https://github.com/aspnet/HttpSysServer/blob/8d610264386397c8493efa05cf10586f1c0f0198/src/Microsoft.AspNetCore.Server.HttpSys/RequestProcessing/ResponseStreamAsyncResult.cs#L247
vs
https://github.com/aspnet/HttpSysServer/blob/8d610264386397c8493efa05cf10586f1c0f0198/src/Microsoft.AspNetCore.

[2017-03-22 22:42] Tratcher opened #330 "[Patch 1.0.x] Leaking Windows Auth handles/memory"
https://github.com/aspnet/HttpSysServer/issues/317
https://github.com/aspnet/HttpSysServer/pull/329/commits/32bc9a57c94525326cd8c15c580db884c790d294

[2017-03-22 22:43] #317 closed

[2017-03-22 22:43] #287 closed

[2017-03-22 22:43] #306 closed

[2017-03-23 09:28] jchannon commented on #326
Thanks will get this setup on the customer's install.

Our application does have middleware that does return 401 in a couple of locations eg/XSRF checks, user validation

[2017-03-24 01:01] jbagga commented on #263
[MessagePumpTests.UseDefaultAddress_WhenNoServerAddressAndNoDirectConfiguration ](https://github.com/aspnet/HttpSysServer/blob/dev/test/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests/MessagePumpTests.cs#L51)
Failure details: http://aspnetci/viewLog.html?buildId=192016&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

@JunTaoLuo could you investigate this?

[2017-03-24 01:25] mikeharder commented on #263
Another failure of `ResponseBodyTests.ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts`:

[code]

http://aspnetci/viewLog.html?buildId=192049&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

Maybe time to disable this test?

[2017-03-24 04:01] JunTaoLuo commented on #263
I took a look at MessagePumpTests.UseDefaultAddress_WhenNoServerAddressAndNoDirectConfiguration. I'm pretty certain there is something wrong with the agent. Seems like it's only failing on the 102 agent and the exception suggests that some file (maybe the native dll?) is being used. I'll investigate further tomorrow and see if I can identify why it happened in the first place.

[2017-03-24 11:47] jchannon commented on #326
Attached is a new dump file - https://drive.google.com/file/d/0B3uxSfah57yBWUNjLXp1Z1BGUEE/view?usp=sharing

[2017-03-24 19:16] jchannon commented on #326
Here's a log with the env var set.  Thanks

https://drive.google.com/file/d/0B3uxSfah57yBamxoTWhmMzR6cDA/view?usp=sharing

[2017-03-27 19:06] davidmatson opened #333 "WebListener Negotiate auth doesn't work with non-machine account"
I was using Web API with the OWIN HttpListener running as a Windows service with a domain service account. I configured the SPN so Kerberos authentication was working successfully.

When I switched to ASP.NET Core with WebListener, Negotiate authentication worked during initial testing that used the machine name as the site name and ran the service under the system account. However, once I switche

[2017-03-27 19:12] davidmatson opened #334 "End-to-end latency under load is much higher than HttpListener when using windows auth"
See #333 for more details of the setup. Testing client request latency under load (at 200-400 requests/sec), with multiple clients HttpListener (again, see #333 for the exact code used) provides much lower latency than WebListener (HttpSysServer) does. For example, with three clients loading the server using WebListener, end-to-end latency for an authenticate request was 80% between 500ms and 1sec

[2017-03-30 18:06] JunTaoLuo opened #336 "PreferHostingUrls added in IServerAddressesFeature should be honoured"
React to https://github.com/aspnet/Hosting/pull/992 and add logic to handle when PreferHostingUrls is set to true.

[2017-03-30 18:08] muratg commented on #330
@Tratcher Could you file another one and put it in 1.1.2 milestone?

[2017-03-30 18:13] Tratcher opened #337 "[Patch 1.1.x] Leaking Windows Auth handles/memory"
#317
32bc9a5

[2017-03-30 18:14] Tratcher commented on #337
https://github.com/aspnet/HttpSysServer/issues/330

[2017-03-30 21:10] Tratcher commented on #284
This should be addressed by https://github.com/aspnet/HttpSysServer/pull/325

[2017-03-31 15:28] jchannon commented on #326
Any update? Thanks 🙏

[2017-03-31 15:40] Tratcher commented on #326
The log says the file was loaded but that it couldn't find the method within the file. I was not able to reproduce the issue. I don't think we'll be able to make any more progress here without directly debugging the customers app (or related repro app). Did you contact support? They're better set up for direct customer contact.

[2017-03-31 16:02] jchannon commented on #326
Thanks.

Just FYI, this is what I've got back from them

![image002](https://cloud.githubusercontent.com/assets/105126/24558645/c1e79e4e-1633-11e7-8add-cf6471d0e373.png)

![image003](https://cloud.githubusercontent.com/assets/105126/24558561/78e5a6f0-1633-11e7-8516-cd142ccb0fdc.png)

[2017-03-31 16:02] mikeh688 commented on #326
I didnt yet contact MS support because in the past I have found it impenetrable. Sorry for the painfully basic question but what category will .Net Core fall into? Our customer is a very large Microsoft customer and ideally we'd like to be able to ask them to have one of their MS contacts step in and help us negotiate our way thru what needs doing.

[2017-03-31 16:12] Tratcher commented on #326
I'm not sure how support is structured, but organizationally .NET Core lives under Visual Studio, which is under Cloud and Enterprise.

[2017-04-03 21:11] mikeharder commented on #263
http://aspnetci/viewLog.html?buildId=195109&buildTypeId=Lite_UniverseTest&tab=buildResultsDiv

ResponseBodyTests.ResponseBodyWriteExceptions_FirstWriteAsyncWithCanceledCancellationToken_CancelsAndAborts

[code]

[2017-04-05 05:55] devatwork opened #339 "HttpSysServer sends invalid response for HEAD requests"
[RFC 2626](https://tools.ietf.org/html/rfc2616#section-9.4) and [RFC 2731](https://tools.ietf.org/html/rfc7231#section-4.3.2) states that a head request MUST NOT return a response body. See also the last paragraph of https://tools.ietf.org/html/rfc2616#section-4.3.

The following HTTP request/response pair is captured using Fiddler and returned by a simple web app running on HttpSysServer:

[code]

[2017-04-05 19:29] #336 closed

[2017-04-07 18:50] keflem opened #340 "Call to ITlsConnectionFeature.ClientCertificate triggers negotiation of SSL certificate even if disabled in the http.sys sslcert registration causing duplicate requests"
When reading a client certificate from a HttpSysServer (WebListener) server the SSL channel is re-negotiated even if the sslcert registration is disabled.  This not only results in an undesired behavior of user browser prompting for a certificate even though that is not desired, it also results two requests rather than one.  This is VERY problematic for non-idempotent requests such as POST as you

[2017-04-11 17:27] Eilon commented on #330
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-11 21:30] muratg commented on #326
@livarcocc Should we move this bug to SDK or CLI under dotnet?

[2017-04-11 21:41] muratg commented on #284
@HaoK assigning to you, as we think your mega-auth-change will cover this.

[2017-04-11 21:48] mikeharder opened #341 "Flaky Test: AuthenticationTests.AuthTypes_RequireAuth_Success(authType: Negotiate)"
Test `AuthenticationTests.AuthTypes_RequireAuth_Success(authType: Negotiate)` failed in a CI build:

[code]

http://aspnetci/viewLog.html?buildId=199872&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win8_Universe

[2017-04-12 04:11] livarcocc commented on #326
@muratg At first sight, this seems more like a corefx issue.

@Petermarcu can you help take a look at this?

[2017-04-12 04:18] Petermarcu commented on #326
@gkhanna79 to help out.

[2017-04-12 04:22] Petermarcu commented on #326
I agree though, this may be better served going through support.

[2017-04-12 14:59] gkhanna79 commented on #326
@Tratcher is correct that this binary was loaded - this is what was in the log:

[code]

The exception above is self-explanatory - the binary in question did not export the API.  Can you open a VS Developer Command prompt and do the following against the above binary:

`dumpbin /exports C:\Program Files\Acano Manager\Portal\api-ms-win-core-io-l1-1-1.dll `

This will list the APIs exported by the a

[2017-04-12 15:24] Tratcher commented on #326
API Set docs: https://msdn.microsoft.com/en-us/library/windows/desktop/mt186421(v=vs.85).aspx

We have not been able to reproduce this issue on other machines.

[2017-04-12 17:17] Eilon commented on #337
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:19] Eilon commented on #337
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-13 21:44] #330 closed

[2017-04-13 22:19] #337 closed

[2017-04-14 17:02] pranavkm opened #344 "[Patch 1.0.3] Flaky test ResponseBodyTests.ResponseBody_WriteContentLengthNotEnoughWritten_Aborts"
[code]

[2017-04-14 17:03] pranavkm commented on #344
cc @Tratcher \ @muratg

[2017-04-14 20:49] muratg commented on #344
@Tratcher thoughts?

[2017-04-14 21:00] Tratcher commented on #344
This test is currently disabled in dev:
https://github.com/aspnet/HttpSysServer/blob/4e8872b94d93afb5834ee4dfcbeb3dfd3b75c92d/test/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests/Listener/ResponseBodyTests.cs#L147

[2017-04-14 22:11] ryanbrandenburg opened #345 "Flaky test RequestBodyTests.RequestBody_ReadAsyncPartialBodyAndCancel_Canceled"
---- Microsoft.AspNetCore.Server.HttpSys.HttpSysException : The I/O operation has been aborted because of either a thread exit or an application request
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at Microsoft.AspNetCore.Server.HttpSys.Listener.RequestBodyTests.<RequestB

[2017-04-17 21:55] Tratcher commented on #333
This behavior is different because WebListener uses the kernel mode http.sys auth (running as the machine account), where HttpListener implemented this in user mode. It's not clear if you'd be able to get the old behavior.

[2017-04-17 21:58] Tratcher commented on #334
Again, these differences are likely due to WebListener using the kernel mode http.sys auth implementation, vs HttpListener's user-mode implementation. If we can isolate this latency then we'd likely have to report it to the Windows team.

[2017-04-17 22:22] Tratcher commented on #263
ResponseCachingTests.Caching_SetTtlAndStatusCode_Cached - TimeoutException

[2017-04-17 22:26] davidmatson commented on #333
Is it possible to set the SPN when using kernel mode auth?
Otherwise, is the fix to to switch to user mode auth?

Thanks,

David

[2017-04-17 23:09] Tratcher commented on #333
https://blogs.msdn.microsoft.com/amol/2010/10/29/understanding-kernel-mode-authentication-in-iis-7/
https://github.com/aspnet/HttpSysServer/issues/42
It sounds like UseAppPoolCredentials maps to HTTP_AUTH_EX_FLAG_CAPTURE_CREDENTIAL and would be one way of enabling this.

[2017-04-18 16:03] jchannon commented on #326
@gkhanna79 Below is the output you asked for.

[code]

[2017-04-18 16:06] jchannon commented on #326
Note: We also appear to have `api-ms-win-core-io-l1-1-0.dll` in our folder and I have no idea how that relates to `api-ms-win-core-io-l1-1-1.dll` but below is the output from `api-ms-win-core-io-l1-1-0.dll` in case that is useful

[code]

[2017-04-18 19:16] Tratcher commented on #326
I see the same. Are API sets supposed to chain? Every doc I can find shows CancelIOEx in 1.1.1, and I haven't been able to repro this on my VMs.

[2017-04-19 18:55] Eilon commented on #330
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:57] Eilon commented on #337
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 19:04] Tratcher commented on #317
Preview builds of this patch fix should be available on the following feeds:

- https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  - Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
- https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 23:13] Tratcher commented on #326
I've finally been able to repro this error message by directly invoking CancelIoEx on app launch. It's still not clear why this hasn't reproduced any other way.  At least the fix is easy...

[2017-04-20 02:20] pranavkm commented on #344
Can we disable it in the patch branch please? We've had two more failures with this.

[2017-04-20 17:28] Tratcher opened #348 "[1.0.x patch] Fix API set target"
https://github.com/aspnet/HttpSysServer/pull/347
@jchannon

[2017-04-20 17:28] Tratcher opened #349 "[1.1.x patch] Fix API set target"
https://github.com/aspnet/HttpSysServer/pull/347
@jchannon

[2017-04-20 18:18] #326 closed

[2017-04-20 18:21] Tratcher commented on #263
http://aspnetci/viewLog.html?buildId=205493&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

[2017-04-21 21:55] #344 closed

[2017-04-24 15:36] jcsharp opened #352 "Severe memory leak when using authentication"
I experience a severe memory leak when I use the WebListener v1.1.1 with Windows authentication enabled:

[code]

With this configuration, a trivial web api leaks 12,600 bytes per request, which are not released until the service is restarted.

If I remove the authentication requirement (`AllowAnonymous = true`), then the memory usage is stable.

I created a repository with code to reproduce this

[2017-04-24 16:36] jchannon commented on #349
Excuse my lack of internal MS workflow but where do we go from this issue being marked as a "patch-proposed" to a patch?

[2017-04-24 17:55] Tratcher commented on #352
Duplicate of https://github.com/aspnet/HttpSysServer/issues/317

[2017-04-24 23:08] JunTaoLuo commented on #263
Spoke to @muratg  Punting to preview2

[2017-04-24 23:08] JunTaoLuo commented on #275
Spoke to @muratg Punting to preview2

[2017-04-25 03:56] Eilon commented on #349
@jchannon this issue is not currently slated for a patch release. Would it be possible for you to use a custom build of the package? Or use a 2.0.0 nightly build (where this issue is already fixed).

[2017-04-25 07:06] jchannon commented on #349
Would the custom build be built by myself? I could use a v2 nightly but I
assume that would mean upgrading our whole app to run on netcore v2?

On 25 April 2017 at 04:56, Eilon Lipton <notifications@github.com> wrote:

[2017-04-25 11:11] jcsharp commented on #352
Yes. I forgot to remove the `is:open` filter when I searched for `memory leak`...

I have verified that the v1.1.2 pre-release patch addresses my symptoms.

[2017-04-25 11:11] #352 closed

[2017-04-25 20:32] Eilon commented on #349
@jchannon yeah using 2.0 would mean using nightly 2.0 bits for the whole app. Would that work for you?

It should be pretty easy to make your own build: just clone the repo on Windows/Mac/Linux to the right branch/tag, make the change, and run `build` - it'll produce all the required NuGet packages and DLLs.

[2017-04-27 06:32] HaoK commented on #284
Host changes for Auth 2.0 should go in this week (but for preview 2)

[2017-04-27 06:33] HaoK commented on #284
PRs: https://github.com/aspnet/HttpSysServer/pull/354
https://github.com/aspnet/IISIntegration/pull/338

[2017-05-02 10:20] DanielBryars opened #355 "Explicity set path base for http.sys registration"
I'm using version 1.1.1 (WebListener) and I want to explicitly set the "pathbase" used by the rest of the application routing instead of it being derived by the WebListener from the server url.

For example:
Process1
server.url = http://+:5000/
[Route("apigateway/api/v1/auth/")]
SomeController
[HttpGet("accounts/{accountId}/auth-token")
SomeMethod(int? accountId)

This will respond to a request su

[2017-05-02 16:16] Tratcher commented on #355
Those are some very specific url registrations...

What you want is a middleware like https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Abstractions/Extensions/UsePathBaseMiddleware.cs, but that operates in reverse, taking data from PathBase and moving it to Path.

[2017-05-03 08:44] DanielBryars commented on #355
@Tratcher you legend; Thank you very much! I've written some Middleware to prepend the path with the pathbase.

And, indeed, yes the URL registrations are specific; my use case is perhaps a little odd, but very cool: I now have the ability to run a "general" instance of my service process which responds to all requests which are not handled by any other process which has registered a _more specifi

[2017-05-03 08:44] #355 closed

[2017-05-05 20:47] Tratcher opened #357 "Re-enable kerberos tests"
Kerberos tests require domain joined machines. The API to check if your machine is domain joined is DirectoryServices, which isn't available on Core. See https://github.com/aspnet/HttpSysServer/blob/50ed4564f1c2fe936a43358d268b89fe7d32f018/test/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests/Listener/SkipOffDomainAttribute.cs which was removed during the migration to netcoreapp2.0.

[2017-05-05 20:49] Tratcher commented on #357
https://github.com/aspnet/HttpSysServer/pull/356

[2017-05-09 21:13] ferrx opened #358 "What happened to WebListener docs?"
I'm reading the WebListener guide here https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/weblistener and it frequently points to either portions of aspnet/HttpSysServer that no longer exist or it points to aspnet/WebListener which redirects to aspnet/HttpSysServer. (On further inspection it always points to aspnet/WebListener which redirects to HttpSysServer).

Does WebListener hav

[2017-05-09 22:10] Tratcher commented on #358
Yes, WebListener was renamed to HttpSysServer for 2.0.

The docs aren't supposed to link to the dev branch... @tdykstra

You can go back to the latest rel/1.1.2 branch to fix those links:
https://github.com/aspnet/HttpSysServer/blob/rel/1.1.2/src/Microsoft.AspNetCore.Server.WebListener/WebListenerOptions.cs
https://github.com/aspnet/HttpSysServer/blob/rel/1.1.2/src/Microsoft.Net.Http.Server/WebLis

[2017-05-09 22:18] ferrx commented on #358
Not seeing any other broken links. Thanks, I will take a look at that branch.

[2017-05-09 22:21] tdykstra commented on #358
In Next steps we have
https://github.com/aspnet/WebListener
which isn't broken but not forwards to
https://github.com/aspnet/HttpSysServer

Since all of the links now have repo name HttpSysServer in them, maybe we should mention the upcoming name change somewhere in the doc.

[2017-05-09 22:23] Tratcher commented on #358
We'll need to do a 2.0 doc update regardless. When are you doing 2.0 docs?

[2017-05-09 22:45] tdykstra commented on #358
Probably more than 6 weeks from now.

[2017-05-12 21:29] muratg commented on #260
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:29] #260 closed

[2017-05-12 21:29] muratg commented on #271
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:29] #271 closed

[2017-05-12 21:29] muratg commented on #280
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:29] #280 closed

[2017-05-12 21:30] muratg commented on #289
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:30] #289 closed

[2017-05-15 22:43] dstuckims commented on #281
My team is interested in this feature as well.  Did the 'tratcher/sharedQueues' branch go away?

[2017-05-15 22:48] Tratcher commented on #281
Try this one? https://github.com/aspnet/HttpSysServer/tree/tratcher/sharedQueue

[2017-05-18 16:16] HaoK commented on #284
merged bff13c7f43a92160f52318653d5c742ea65c2384

[2017-05-18 16:16] #284 closed

[2017-05-23 20:17] Tratcher commented on #281
Tri state mode.
-	Primary, only create
-	Secondary, only join existing
-	Try to join an existing, if it doesn't exist then create it. (or should we do that in reverse order?)

Does closing the primary queue shut it down for everybody?

When closing the primary queue why do we remove the url registrations?

Queue acls?

[2017-05-23 20:49] Tratcher commented on #281
@muratg removing from backlog for re-triage

[2017-06-05 16:02] Tratcher commented on #281
It looks like HttpQueryUrlGroupProperty can be used to retrieve information about what auth is enabled, and several other properties.

[2017-06-05 16:57] Tratcher opened #364 "Expose HTTP_503_RESPONSE_VERBOSITY option"
https://msdn.microsoft.com/en-us/library/windows/desktop/aa364509(v=vs.85).aspx

IIS appears to use Http503ResponseVerbosityLimited (503 status code), where HttpSysServer uses the default Http503ResponseVerbosityBasic (connection reset).

This applies for MaxConnections and RequestQueueLength.

[2017-06-05 17:35] Tratcher commented on #364
Followup for https://github.com/aspnet/HttpSysServer/pull/363

[2017-06-23 19:30] halter73 opened #366 "Add flag to disable synchronous IO"
This is the equivalent of https://github.com/aspnet/KestrelHttpServer/issues/1521.

Both servers will need to throw an InvalidOperationException on Request.Body.Read() and Response.Body.Write(). You can opt back in to synchronous IO using [IHttpBodyControlFeature.AllowSynchronousIO](https://github.com/aspnet/HttpAbstractions/blob/5472763fc27d3a84dc44eeef36c9ae1bf9bbdec6/src/Microsoft.AspNetCore.Ht

[2017-06-23 19:56] Tratcher opened #367 "Add flag to disable synchronous IO"
https://github.com/aspnet/KestrelHttpServer/issues/1521

@muratg Kestrel is doing this for 2.0 and enabling it by default. A behavior this fundamental should not differ between our servers so we should add the same option to HttpSysServer.

[2017-06-23 20:35] #367 closed

[2017-06-23 20:36] Tratcher commented on #366
@muratg This needs to go into 2.0 or else it's a major breaking change.

[2017-06-23 20:37] muratg commented on #366
Yeah, we decided to do this in Kestrel as well. Let's do it in 2.0.0.

[2017-06-23 22:49] muratg commented on #339
Assigning to @Tratcher for investigation.

[2017-06-23 22:50] muratg commented on #341
Assigning to @JunTaoLuo for investigation.

[2017-06-23 22:53] muratg commented on #349
@Eilon should we close this one? (And #348)

[2017-06-23 22:53] muratg commented on #348
@Eilon Should we close this one (similar to #349)?

[2017-06-23 22:54] muratg commented on #358
Closing this bug as @tdykstra is tracking this on the docs side.

[2017-06-23 22:54] #358 closed

[2017-06-23 23:26] Tratcher opened #369 "Mirror Kestrel's BadHttpRequestException feature error status codes"
Kestrel has a feature that uses its special [BadHttpRequestException](https://msdn.microsoft.com/en-us/library/system.net.websockets.clientwebsocketoptions.clientcertificates(v=vs.110).aspx) type to determine what status code to return to the user. E.g. if this exception is thrown (as the InnerException) from the request stream read APIs (e.g. due to length limits), and that exception goes unhandl

[2017-06-26 19:10] #339 closed

[2017-06-29 21:00] Tratcher opened #373 "Disable AllowSynchronousIO by default"
In https://github.com/aspnet/HttpSysServer/issues/366 we introduced AllowSynchronousIO, but found it was too breaking to enable by default. Reconsider in the next major release.

[2017-07-05 22:59] #366 closed

[2017-07-11 21:30] cesarbs opened #377 "Make StopAsync multi-thread safe"

[2017-07-13 23:22] Tratcher opened #379 "Allow challenging individual auth types"
WebListener 1.0 registered its auth types schemes that could be challenged individually. In 2.0 they are all combine as one "Windows" scheme. See if we can find a way to optionally challenge for individual types again. This may or may not involve registering additional schemes.

[2017-07-14 03:54] brockallen commented on #379
Doesn't negotiate fall back to NTLM? So in a sense, nego handles both?

BTW, I really like them now under one (and your comment above is the first I've heard of it).

[2017-07-14 13:56] Tratcher commented on #379
WebListener supports Negotiate, NTLM, Kerberos, and Basic (Windows). Yes Negotiate can mean pick NTLM or Kerberos, but that may depend on your client. In theory you may want to challenge for a specific one.

In practice, most people want to challenge for all enabled schemes, so we'd leave the aggregate one.

[2017-07-18 04:53] Eilon commented on #349
Why close it?

[2017-07-18 04:53] Eilon commented on #348
Why close it?

[2017-07-18 05:10] Tratcher commented on #348
It was rejected for the prior round of patches.

[2017-07-24 21:46] kadukf opened #381 "ArgumentNullException("chars") is thrown when iterating HeaderDictionary"
Iterating over Request.Headers throws ArgumentNullException in case the web hosting uses WebListener/HttpSysListener and the request contains a header with empty value, e.g.

GET /api/values HTTP/1.1
If-None-Match:

It fails when calling UTF8Encoding.GetChars(byte* bytes, int byteCount, char* chars, int charCount) because chars point to IntPtr.Zero.

In case of Kestrel, all is fine.

[2017-07-25 03:53] Tratcher commented on #381
Can you share the full stack trace? I assume the issue is here:
https://github.com/aspnet/HttpSysServer/blob/015de501ad3dd1056a68b9460667265deb5d6454/src/Microsoft.AspNetCore.Server.HttpSys/RequestProcessing/NativeRequestContext.cs#L275

What client are you using? Most won't send empty headers.

[2017-07-25 19:39] kadukf commented on #381
Stack trace:

   at System.Text.UTF8Encoding.GetChars(Byte* bytes, Int32 byteCount, Char* chars, Int32 charCount)
   at Microsoft.Net.Http.Server.HeaderEncoding.GetString(SByte* pBytes, Int32 byteCount)
   at Microsoft.Net.Http.Server.NativeRequestContext.GetKnownHeader(HttpSysRequestHeader header)
   at Microsoft.Net.Http.Server.RequestHeaders.get_IfNoneMatch()
   at Microsoft.Net.Http.Server.Req

[2017-07-25 19:42] kadukf commented on #381
We have a clients which send us such payload. We migrated from OWIN to ASPNETCORE and we have this regression. We have a nasty hack implemented using reflection (class Microsoft.Net.Http.Server.HeaderEncoding, field Encoding) but we want to get rid of this hack.

[2017-07-25 19:45] kadukf opened #382 "SetRequestProcessingLimits support?"
Is there a way to limit the max number of actual processing requests **w/o accepting new requests from the listener**? The similar thing what was implemented in Katana by calling "SetRequestProcessingLimits" ?

[2017-07-26 00:36] Tratcher commented on #382
No, there is no matching setting.

[2017-07-26 00:37] Tratcher commented on #382
@shirhatti at some point we're going to need to consider some form of back pressure here to keep from completely flooding the thread pool queue and memory.

[2017-07-28 15:39] muratg commented on #349
@Eilon IIRC, this was rejected for the previous patch release.

[2017-07-28 16:32] Eilon commented on #349
Ok... if there are bugs we don't want to consider for the patch, go ahead and close 😄

[2017-08-04 00:00] Eilon commented on #348
If you guys don't want to fix a bug in a patch, that's fine with me. Just close it 😄

[2017-08-17 19:33] #275 closed

[2017-08-18 23:21] pranavkm opened #384 "[Patch 1.1.4] ResponseBodyTests.ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts flakiness"
Could we skip \ fix this?

[code]

[2017-08-18 23:21] pranavkm commented on #384
cc @Eilon \ @Tratcher

[2017-08-19 00:20] JunTaoLuo commented on #384
I will use the current dev branch as a reference for disabling flaky tests. I will be disabling tests in both 1.1.4 and 1.0.6.

[2017-08-21 21:36] #384 closed

[2017-08-23 09:11] kdaveid opened #388 "Add IServiceProvider to HttpSysOptions"
In order to configure HttpSys with `WebHostBuilder` it would help to have access to `IServiceProvider` within `.UseHttpSys(Action<HttpSysOptions> options)` [extension method](https://github.com/aspnet/KestrelHttpServer/blob/rel/2.0.0/src/Microsoft.AspNetCore.Server.Kestrel/WebHostBuilderKestrelExtensions.cs#L47). I.e. it would be nice to extract `IConfiguration` and use app settings from there.

T

[2017-08-23 12:02] Tratcher commented on #388
Note this has side effects. Kestrel's approach does not work with some DI containers because it relies on ordering. Capturing your dependencies via closure is more reliable.

[2017-08-23 12:50] kdaveid commented on #388
Yes, I get that. I'm building a webapp that can be started in different ways (servers). I thought it's odd that the configuration are not the same.

Feel free to close it.

[2017-08-23 18:56] ducman opened #389 "Unable to get IClaimsTransformation to work with HttpSysListener"
The new core 2.0 way of doing claims transformation doesn't seem to work when doing a `dotnet run` with `UseHttpSys`. It **does work** when running via IIS Express. It also work with the old `WebListener` but claims transformation was done via middleware in core 1.* (so may be a mute point).

I was able to reproduce this with the default windows authentication core web project template. Here is my

[2017-08-23 19:09] #377 closed

[2017-08-23 21:19] Tratcher commented on #389
How to you consume the identity? It's likely that claims transformation isn't running because you haven't asked it to.

[2017-08-23 22:21] ducman commented on #389
If I use `UseKestrel` and launch using IIS Express (from VS), I can see that an `AuthenticateAsync` is being called which in turn called `TransformAsync` (line 71 @ [AuthenticationService](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationService.cs)). From the call stack, it seem IIS integration middleware is requesting the `Authenticat

[2017-08-23 22:30] Tratcher commented on #389
Ok, that makes sense. IIS does this: https://github.com/aspnet/IISIntegration/blob/cc31406913ae349a6f69acef65be65da91086b39/src/Microsoft.AspNetCore.Server.IISIntegration/IISMiddleware.cs#L114

HttpSys doesn't because it starts with the identity https://github.com/aspnet/HttpSysServer/blob/dev/src/Microsoft.AspNetCore.Server.HttpSys/RequestProcessing/Request.cs#L84.

To make claims transformation

[2017-08-23 23:05] ducman commented on #389
I have added what you have suggested and it works. Thank you.

[2017-08-23 23:05] #389 closed

[2017-08-24 23:23] JunTaoLuo commented on #341
I no longer see any failures for this test on the CI, it has 100% success rate: http://aspnetci/project.html?projectId=XPlat&buildTypeId=&tab=testDetails&testNameId=-6445676963988030601&order=START_DATE_DESC&branch_XPlat=__all_branches__&itemsCount=50

Closing now since I can't repro.

[2017-08-24 23:23] #341 closed

[2017-08-29 16:48] ryanbrandenburg opened #391 "[Test] Server_ClientDisconnects_CallCanceled sometimes takes much longer than average"
Sometimes [this](http://aspnetci/viewLog.html?buildId=312301&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win7_Universe#testNameId-5004057257646002980) test takes much longer than normal. Currently this was remedied by increasing the timeout, but we should investigate for possible performance improvements.

[2017-09-01 03:33] brockallen opened #392 "Consider an options to allow setting the "DisplayName" of the windows authentication scheme"
Much like is allowed in the IIS Integration server implementation with `IISOptions.AuthenticationDisplayName`.

[2017-09-01 03:59] brockallen commented on #392
Or as another idea -- a simple sample to show how to set the display name when using HttpSys.

[2017-09-01 04:11] brockallen opened #393 "Consider an options to not automatically set HttpContext.User"
Much like the IIS server integration with `IISOptions.AutomaticAuthentication`.

[2017-09-10 19:42] artisticcheese opened #394 "Hosting in http.sys does not allow both anonymous and Windows authentication to coexist"
Code below does not work in http.sys while working in IIS where both anonymous and Windows authentication is specified and access to individual methods are based of tags

[code]
[code]

[2017-09-10 20:27] artisticcheese commented on #394
Documentation needs to be updated that services section shall contain following statement to allow both anonymous and Windows to work together

[code]

[2017-09-10 20:27] #394 closed

[2017-09-10 22:01] Tratcher commented on #394
Note HttpSys has it's own constant for this, `HttpSysDefaults.AuthenticationScheme` though the value happens to the be same as the one from IISDefaults uses.

[2017-09-10 22:03] artisticcheese commented on #394
@Tratcher So I need to do
`services.AddAuthentication(Microsoft.AspNetCore.Server.HttpSysDefaults.AuthenticationScheme);`?

[2017-09-10 22:04] Tratcher commented on #394
Yes, otherwise `[Authorize]` will give you an error about no default scheme set.

[2017-09-11 08:15] bencyoung opened #395 "Conditional authentication in Http.Sys"
In our previous OWIN app we used code like:

[code]
to conditionally disable authentication requirements for certain paths and request types. Are we able to do something similar for Http.Sys and ASP.NET Core? I don't see the options when calling UseHttpSys:

[code]

[2017-09-11 08:18] davidfowl commented on #395
Why not do this further up the the stack? That is, issue the right challenge based on the resource being authenticated? Is there a reason you need to select schemes per request?

[2017-09-11 08:24] bencyoung commented on #395
Hi David, how do I do that? Do you mean use a different WebHostBuilder for different request types? Or can I change the authentication scheme for different routes in MVC?

I guess one example shows above, where we need to allow anonymous access to the "ping" healthcheck endpoints so our monitoring software can access (uses a token instead for that)

Also we had issues when we applied required auth

[2017-09-11 09:21] davidfowl commented on #395
Depends on what you're trying to achieve. The basics of the auth system are here https://digitalmccullough.com/posts/aspnetcore-auth-system-demystified.html.

Nope.

Yes. The authorize attribute lets you select a scheme.

That just means you need to allow anonymous for that end point.

Are you using MVC at all? I'm guessing the Cors filter handles that nicely (but I'm just guessing).

Naiively I'm

[2017-09-11 09:28] bencyoung commented on #395
Thanks, I'll give that a go. We're not using MVC for everything (some custom mapping, some MVC, some Nancy, some OWIN), so I suspect I'll need to look into exactly what AllowAnonymous and AuthorizationPolicyBuilder does at a low level

[2017-09-11 10:05] davidfowl commented on #395
@bencyoung then read the blog post. It describes the low level mechanics of the system. Nancy doesn't integrate with the auth system, but there are services you can use to interact with it

[2017-09-11 10:10] bencyoung commented on #395
@davidfowl. will do, once I get home and can see it where it's not blocked by my companies "helpful" corporate filter!

[2017-09-11 14:46] davidfowl commented on #395
@bencyoung nice! The main difference between this and nancy will be how you require auth in nancy. That isn't very integrated with the ASP.NET Core authentication stack

/cc @khellang @thecodejunkie

[2017-09-15 22:03] jkotalik opened #396 "Creating a shared sources package between HttpSys and ANCM in-process for native to managed interop"
In the prototype for ANCM in-process, @davidfowl and I copied files from HttpSysServer to convert native IIS HttpContext into unsafe managed ones. Classes like [HttpApi.cs](https://github.com/aspnet/HttpSysServer/blob/dev/src/Microsoft.AspNetCore.Server.HttpSys/NativeInterop/HttpApi.cs) and [RequestHeaders.cs](https://github.com/aspnet/HttpSysServer/blob/dev/src/Microsoft.AspNetCore.Server.HttpSys

[2017-09-15 22:08] Tratcher commented on #396
I expect it to be a shared sources package in the HttpSys repo.

[2017-09-18 03:32] Eilon commented on #396
Yeah just shared source is all we want. Do either of these repos depend on each other? If not, we might want to avoid making more dependencies... that's where Common often comes into play (though it does end up being a bit of a dumping ground).

[2017-09-18 04:07] Tratcher commented on #396
The layering is reasonable for IISIntegration to depend on HttpSysServer, though there's no dependency currently. IISIntegration already depends on Kestrel which is in the same layer of the build graph as HttpSys.

Trying to move an Http.Sys API shared sources package to Common would make it unnecessarily difficult to maintain and test, you'd be juggling three repos rather than two.

[2017-09-18 04:25] Eilon commented on #396
Then that sounds reasonable.

[2017-09-29 17:08] #396 closed

[2017-10-05 18:53] Tratcher opened #400 "Allow 304 responses with a Content-Length but no body"
(Mirrored from https://github.com/aspnet/KestrelHttpServer/issues/2099)

304 Not Modified responses are not allowed to contain a body, but they may still contain an informative Content-Length header similar to a Head response.

https://tools.ietf.org/html/rfc7230#section-3.3.2

   Modified) response to a conditional GET request (Section 4.1 of
   [RFC7232]); a server MUST NOT send Content-Length i

[2017-10-05 22:09] muratg commented on #348
Closing this. The bug is fixed in 2.0.0 RTM, and we don't plan to bring the fix back to 1.x.

[2017-10-05 22:09] #348 closed

[2017-10-05 22:09] muratg commented on #349
Closing this. The bug is fixed in 2.0.0 RTM, and we don't plan to bring the fix back to 1.x.

[2017-10-05 22:09] #349 closed

[2017-10-11 23:08] #381 closed

[2017-10-16 19:34] #270 closed

[2017-10-19 18:10] Eilon opened #404 "Hosting Http.Sys in production environment"
_From @rahulsahay19 on October 15, 2017 12:33_

Hi Team,

Wanted to understand one thing. Let's say, I have written ASP.NET Core MVC application which is hosted on Http.Sys. Therefore, currently what I do, I navigate to published folder and there run **dotnet app.dll**. Server gets started and it starts to listen requests. However, this also opened dotnet console window, which is ok if I am doing

[2017-10-19 18:10] Eilon commented on #404
(This isn't really an HttpSysServer issue either, but moved it here anyway because that's what the question is about.)

[2017-10-19 18:12] Eilon commented on #404
@rahulsahay19 it's up to you how you want to launch the app. You can run it via a Windows Service, or any other mechanism. There shouldn't be any problem with having an extra command window open. Presumably no one remains logged into the server so having an extra window open there shouldn't be a problem. But, running as a Windows Service is better from a user-isolation perspective and avoiding lau

[2017-10-20 09:12] rahulsahay19 commented on #404
Hmm. Thanks for the reply.

[2017-10-20 17:56] #404 closed

[2017-10-24 09:49] tomazv opened #405 "Requests with no final slash in rawurl are causing server to stop responding"
One of our customers has reported an issue where our server stops responding after a while. After some troubleshooting we found out, that for some http requests an exception is thrown when creating instance of Request class from request context. This causes server to stop responding after a few such requests and needs to be restarted.

This is the exception:

System.ArgumentException: Offset and l

[2017-10-24 18:38] Tratcher commented on #405
What does a Fiddler trace of that request look like? Something like this?
GET / HTTP/1.1
Host: www.bing.com

[2017-10-25 09:24] tomazv commented on #405
The request comes in every few hours and I don't even know which client it comes from. Is there a simple way to enable logging of incoming requests so I could take a look at headers and origin IP? I don't have full access to the server, so I would need to send instructions to my customer on how to enable logging.

[2017-10-25 12:22] Tratcher commented on #405
It's failing while trying to construct the request so it's not able to log it at this layer. The only logs before this that might help would be down a layer in Http.Sys via ETW:
https://blogs.msdn.microsoft.com/wndp/2007/01/18/event-tracing-in-http-sys-part-1-capturing-a-trace/

[2017-10-26 11:18] razvan-panda commented on #405
@Tratcher The Azure trial expired for the VM the issue was happening on. So I can not reproduce it anymore. Also, I can't figure out which VM template I used for it - it is not obvious where to find that in the portal :/

[2017-10-26 12:19] tomazv commented on #405
I think [this line ](https://github.com/aspnet/HttpSysServer/blob/rel/1.1.3/src/Microsoft.Net.Http.Server/RequestProcessing/RawUrlHelper.cs#L42) in RawUrlHelper is causing the error:
[code]
When [returnig result](https://github.com/aspnet/HttpSysServer/blob/rel/1.1.3/src/Microsoft.Net.Http.Server/RequestProcessing/RawUrlHelper.cs#L66) it alwasy throws exception because it tries to return array seg

[2017-10-27 00:04] jkotalik commented on #405
I just ran into this too @Tratcher . I'll make a fix for this now.

[2017-10-27 01:15] jkotalik commented on #405
@Tratcher @JunTaoLuo @Eilon this may be patch worthy.

[2017-10-30 17:20] JunTaoLuo commented on #263
We'll reopen if we these tests being flaky again.

[2017-10-30 17:20] #263 closed

[2017-10-31 18:45] Tratcher opened #409 "Mock out the native interop to enable more unit testing"
This repo primarily has functional tests. Writing unit tests is problematic as much of the functionality involves interop with the native http.sys APIs. Consider adding a shim layer like Kestrel's mock Libuv so we can write tests only for our layer.  Note this will be quite invasive.

[2017-11-01 20:42] muratg opened #410 "[Patch 2.0.x] ArgumentNullException("chars") is thrown when iterating HeaderDictionary"
Original issue is [here](https://github.com/aspnet/HttpSysServer/issues/381) and is fixed.

We'd like to propose this for a patch release.

[2017-11-01 20:44] muratg commented on #410
cc @Eilon @Tratcher @mikeharder

This is a candidate for 2.0.2.

[2017-11-01 21:56] anurse opened #411 "Add EventSource/EventCounter tracing and metrics for HttpSysServer"
Some of the events/counters to add (some may already exist, others may be valuable too, discuss below):

* Requests - These should probably be emitted by default, when the source is enabled (Information Level).
  * `RequestStarted` event & counter - Triggered when a request is started
  * `RequestCompleted` event & counter - Triggered when a request is completed (includes response status code)
  *

[2017-11-07 17:51] Tratcher opened #413 "Examine the perf of AsyncAcceptContext memory management"
Back in Sept Justin refactoed Http.Sys and introduced a memory leak in AsyncAcceptContext https://github.com/aspnet/HttpSysServer/commit/231cbffe1a5cc0abce11e2d0685683ed74fc7ad5
This was fixed around 11/2 by https://github.com/aspnet/HttpSysServer/commit/02331040a127954eadaa859777379af77f419183 and https://github.com/aspnet/HttpSysServer/commit/936f82874ab1e706c39d5940c97752c01ef1cbef

Interesting

[2017-11-14 11:47] FenrisWolfAtMiddleEarth opened #414 "File upload in request"
We are using HttpSys for a portal with mvc and razor pages. On one of the pages the user can upload a file with input something like this

        <label class="btn btn-default">MIC File<input type="file" id="fileToUpload" hidden></label>
        <div class="field-validation-error" id="spanfile"></div>
        <input type="submit" value="Upload File" id="btnSubmit" class="btn btn-success" />

I ha

[2017-11-14 12:37] FenrisWolfAtMiddleEarth commented on #414
I found the answer here.
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads

[2017-11-14 12:37] #414 closed

[2017-11-14 13:39] tschuegge opened #415 "Connection is kept alive when "Connection: close" is set in response headers"
As stated in the official Microsoft documentation, the HttpSendHttpResponse function produces undefined results when combining the flags HTTP_SEND_RESPONSE_FLAG_DISCONNECT and HTTP_SEND_RESPONSE_FLAG_MORE_DATA in a single call (see https://msdn.microsoft.com/en-us/library/windows/desktop/aa364499(v=vs.85).aspx). This makes absolutely sense. However, in HttpSysServer (2.0.0 and earlier) when you se

[2017-11-14 14:24] Tratcher commented on #415
Interesting. Note the client should also react to the "Connection: close" header and terminate the connection after the request and response are complete. Both client and server would have to get this wrong for it to become a problem.

[2017-11-14 14:30] tschuegge commented on #415
We have a piece of hardware, that unfortunately lets the connection open.

[2017-11-14 18:08] blowdart opened #416 "[Discussion] Microsoft Security Advisory CVE-2017-11883: Denial Of Service Vulnerability"
# Microsoft Security Advisory CVE-2017-11883: Denial Of Service Vulnerability

## Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in public ASP.NET Core 1.0, 1.1 and 2.0. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of a security vulnerability in all public ve

[2017-11-15 17:39] cdavid commented on #416
Hi

The nuget.org packages for 1.1 release do not seem to exist ([Http.Server](https://www.nuget.org/packages/Microsoft.Net.Http.Server/) and [WebListener](https://www.nuget.org/packages/Microsoft.AspNetCore.Server.WebListener/) ), but there is a 1.1.4 package that is updated yesterday, so I am wondering - is there a typo in the above or is 1.1.5 not out yet?

Thanks,
Catalin

[2017-11-15 18:15] blowdart commented on #416
Hi @cdavid, the version numbers have been updated. You're right, they were wrong. They should not be correct.

[2017-11-15 23:00] #405 closed

[2017-11-16 09:28] davidni opened #417 "Write / WriteAsync with count = 0 can cause response body to be sent - problematic for 304 Not Modified responses"
**Context:** There is a bug in `MemoryStream.CopyToAsync` and that method will call `WriteAsync` on the destination stream even if there are no bytes to copy, in which case it passes `count = 0` (see [coreclr #15057](https://github.com/dotnet/coreclr/issues/15057)).

I came across this while building a reverse proxy on ASP.NET Core. When proxying HTTP Status Code 304 from an upstream service, the

[2017-11-16 16:55] Tratcher commented on #417
We should process this as a FlushAsync (already happening?) and make sure status codes that do not allow bodies don't get set as chunked.

[2017-11-22 18:54] billwolckenlmco commented on #389
@ducman Since @Tratcher had two suggestions (calling AuthenticateAsync or setting HttpSys as the default scheme), which one did you add which worked?

I'm in a similar situation, however I have HttpSys configured to allow anonymous as well as Basic auth:

    .UseHttpSys(options =>
    {
        options.Authentication.Schemes = AuthenticationSchemes.Negotiate | AuthenticationSchemes.Basic;

[2017-11-23 02:19] billwolckenlmco commented on #389
The problem in my case was that I was missing `app.UseAuthentication()` in Configure().  Evidently (and I want to learn more about the implementation of ASP.NET Core to understand why) that is not required for the Authorize attribute to cause a 401 challenge with IIS or HttpSys, but is required for any additional auth processing such as claims transformation.

[2017-11-23 08:03] ducman commented on #389
Glad you figured it out. I went with the same approach.

[2017-12-06 14:20] MHHenriksen opened #420 "Processing request with an empty Content-Type header causes ArgumentNullException when accessing that header or enumerating all headers"
Tested with Microsoft.AspNetCore.Server.HttpSys version 2.0.2 on Windows 10 Fall Creator's Update
Steps to reproduce:

1. `dotnet new webapi` (using .Net Core SDK 2.0.*)
2. Optionally add a specific dependency to HttpSys 2.0.2
3. `dotnet restore`
4. In Program.cs, add UseHttpSys() in the host builder chain
5. `dotnet run`
6. POST http://localhost:5000/api/values, set header `Content-Type` without

[2017-12-06 15:33] MHHenriksen commented on #420
If I were to make a pull request with a fix, which branch/tag/revision should I base it on?

[2017-12-06 16:20] Tratcher commented on #420
This is a duplicate of https://github.com/aspnet/HttpSysServer/issues/381

[2017-12-06 16:20] #420 closed

[2017-12-12 15:07] maxcherednik opened #421 "[Question] HttpSysListener.SkipIOCPCallbackOnSuccess"
Is this flag reasonable in here: https://github.com/aspnet/HttpSysServer/blob/231cbffe1a5cc0abce11e2d0685683ed74fc7ad5/src/Microsoft.AspNetCore.Server.HttpSys/NativeInterop/DisconnectListener.cs#L115

What was the bug related to this?

So assuming there was no bug at all the code should look like this:
[code]

So why do we have this flag?
Cause before windows 8 the callback was called even if we r

[2017-12-12 16:13] Tratcher commented on #421
There's an aspect of this you're missing.
https://github.com/aspnet/HttpSysServer/blob/231cbffe1a5cc0abce11e2d0685683ed74fc7ad5/src/Microsoft.AspNetCore.Server.HttpSys/NativeInterop/RequestQueue.cs#L35-L40

When SkipIOCPCallbackOnSuccess is true Http.Sys is configured to disable callbacks for all async operations that complete synch. When it's false the callback is still expected even when the ope

[2017-12-13 13:29] strabu commented on #333
Hey guys,
we are running into the same problem with Kerberos-Authentication.
We have a Windows on premises Service Fabric Cluster with an Asp.Net Core Web API/WebListener running on all cluster-nodes. HTTP-Traffic is distributed via DNS round-robin across the nodes.
We can't use the machine-account for the spn in our scenario because it would tie our public URL to only one of the cluster nodes.

T

[2017-12-20 07:21] jkotalik opened #422 "Use BindingAddress instead of UrlPrefix"
[HttpAbstractions has a new type](https://github.com/aspnet/HttpAbstractions/commit/150bb3faf413226d053777bbc72618fb284a6970) that will be consumed for using the IServerAddressFeature. This would replace the UrlPrefix type https://github.com/aspnet/HttpSysServer/blob/dev/src/Microsoft.AspNetCore.Server.HttpSys/UrlPrefix.cs.

[2017-12-20 13:37] Tratcher commented on #422
Not quite. It will replace the parser inside of UrlPrefix.

[2018-01-17 18:27] Eilon commented on #410
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-17 20:17] Tratcher commented on #410
@Eilon I'm not planning to add a quirk flag for this behavior. The error is very disruptive and the fix is very low risk. See the linked PR.

[2018-01-17 20:20] #410 closed

[2018-01-17 22:22] Eilon commented on #410
@Tratcher yeah I think that's reasonable here. Thanks for considering it.

[2018-01-29 14:41] codepunkt opened #425 "Hosting API with windows auth both as selfhosted HTTP.sys and in IIS?"
I'm building a service based on dotnet core 2.0 that should run both as a self-hosted console application and hosted in IIS. The service runs in a windows environment and must support windows auth.

Early on, i used kestrel with `UseKestrel()`, but then found out that kestrel doesn't support windows auth and i should use HTTP.sys - so i switched to this startup code:

[code]

When publishing this

[2018-01-29 15:44] Tratcher commented on #425
Unfortunately you must use config or command line parameters to select Kestrel vs HttpSys in BuildWebHost. There's a slightly complex example here: https://github.com/aspnet/MusicStore/blob/5086579c4259ba6e8a7ff9d7edd808d62f2396e4/samples/MusicStore/Program.cs#L31

[2018-01-29 15:46] Tratcher commented on #425
Triage note: This will no longer be an issue with the new IIS in-proc support, as Kestrel will no longer be required.

[2018-01-29 16:02] davidfowl commented on #425
This is how the UseIISIntegration method detect's if it's being hosted in reverse proxy mode:

https://github.com/aspnet/IISIntegration/blob/6f54ed1c68ad732802b8813dad4c6f0b872d8c0b/src/Microsoft.AspNetCore.Server.IISIntegration/WebHostBuilderIISExtensions.cs#L73-L78

You can actually take advantage of this in your own extension method to do the dynamic light up depending on where you're running.

[2018-01-29 17:54] blowdart opened #426 "netcore 1.3 WebListener + WIndows Auth: Safe handle has been closed"
_From @sandrey80 on January 28, 2018 15:50_

Windows Identity with ASP.net Core 1.3 self-hosted app with WebListener

[code]
Some times i'm getting error

at methods like 'User.IsInRole(group)' or 'User.Identity.Name' and app crashed at this dumb method

[code]
The stack trace looks like that:

[code]
Can't reproduce it on debug, but at production get crashed once a week.

Any suggestions?

_Copie

[2018-01-29 19:53] Tratcher commented on #426
The stack trace resembles https://github.com/aspnet/Logging/issues/543#issuecomment-321907828. In that case the user was being accessed after disposal in app cleanup logs. https://github.com/aspnet/Common/issues/85 may also be related, but that doesn't include a stack trace.

This case appears to be happening inside the MVC authorization filter. Can you inspect the User to make sure it's an instan

[2018-01-29 20:17] sandrey80 commented on #426
I can't inspect. This bug is production only and can't reproduced at debug time and in testing.

[2018-01-29 20:37] Tratcher commented on #426
Another matching stack https://github.com/dotnet/corefx/issues/15226

[2018-01-30 08:22] codepunkt commented on #425
@davidfowl

[2018-01-30 08:57] codepunkt commented on #425
Thanks for both of your time and effort. Your dedication really make a difference for dotnet newcomers like myself! 😄

@davidfowl
I removed the `UseIISIntegration` and implemented the WebHostBuilderExtension like shown. Works like a charm! To really understand what's going on here, i've got a few additional questions:
- Why do the settings `port`, `path` and `pairingToken` tell us that we're hoste

[2018-01-30 14:53] davidfowl commented on #425
Those are the environment variables that the ASP.NET Core module sets when to boots the dotnet process.

Hosting reads all ASPNETCORE_ environment variables and adds them to configuration by default. (https://github.com/aspnet/Hosting/blob/cb55973c27ca4bf2333c509edadab62c909e3c52/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L46)

We fallback to reading environment variables directly in case

[2018-01-31 18:05] Tratcher commented on #345
I can't find any failures in the test history. Re-open and include the relevant test group if you see this again. E.g. Win10-Universe.

[2018-01-31 18:05] #345 closed

[2018-02-01 04:31] davidmatson commented on #333
@strabu This bug has been open for a while, so I wouldn't tend to expect an immediate solution. A workaround such as the code above may be your best option for go-live (it's what I had to do to unblock moving to ASP.NET Core for our service).

[2018-02-13 20:56] anurse opened #427 "Do not install IHttpUpgradeFeature when WebSockets not available"
HttpSysServer should check if WebSockets is available (i.e. OS > Windows 7) and only install the `IHttpUpgradeFeature` if it is available. That means that when WebSockets is not available, the WebSocket middleware will not be able to install `IHttpWebSocketsFeature` (because there is no `IHttpUpgradeFeature`) and SignalR and other WebSockets components can detect the absence of that feature and pr

[2018-02-13 20:57] anurse commented on #427
/cc @muratg for pre-triaged visibility

[2018-02-17 00:25] muratg commented on #281
Bringing back to triage.

[2018-02-17 00:26] muratg commented on #333
Bringing this back to triage.

[2018-02-22 16:44] PaulAngelino commented on #389
Hello @ducman and @billwolckenlmco.  I'm having the exact same problem you two describe here.  I have a custom IClaimsTransformation implementation which was working fine before I switched to using HTTP.sys, and now the TransformAsync method never gets called.  I was optimistic upon reading this post, but I'm still not able to get this working after trying what you suggest.  I have added `services

[2018-02-23 17:27] PaulAngelino commented on #389
Furthermore, I am able to call `HttpContext.AuthenticateAsync(HttpSysDefaults.AuthenticationScheme)`, which I'm currently doing in the Index method of my Home controller just for testing.  I see TransformAsync get called and the expected role get added as a claim to the principal, but now the Authorize attribute on my secured controller method is not working as expected.  Again, this is something

[2018-02-24 08:57] ducman commented on #389
In core 2.0, you have to inject the IClaimsTransformation. We didn't had to do this in 1.* since it was a middleware. I'm hoping this is what you're missing.

[code]

[2018-02-26 20:33] PaulAngelino commented on #389
Ok, I figured out my problem.  There was a piece of this that came over from previous work I had done with Identity Framework and trying to get that working with various authentication schemes.  I already had an `IUserClaimStore` implementation with the `GetClaimsAsync` method that was retrieving the user roles from the database.  When I switched over to trying to get the `IClaimsTransformation` w

[2018-02-27 00:34] withkittens opened #428 "Should HttpSysDefaults.AuthenticationScheme be a const string?"
Right now it is a `readonly` field and is disallowed to use in a `const` context. Also this is inconsistency with other authentication packages like `JwtBearer`.

### Expected result

This should compile:

[code]

### Actual result

CS0182 compilation error: _An attribute argument must be a constant expression, typeof expression or array creation expression of an attribute parameter type._

[2018-02-27 23:35] muratg commented on #333
Triage decision: We only support kernel mode NTLM, we don't plan to support user mode.

[2018-02-27 23:35] #333 closed

[2018-02-27 23:37] #382 closed

[2018-02-27 23:40] #388 closed

[2018-02-27 23:46] muratg commented on #395
👍

[2018-02-27 23:46] #395 closed

[2018-02-27 23:49] #409 closed

[2018-02-27 23:55] muratg commented on #417
@davidni CoreCLR bug you linked seems to be fixed. Is this still an issue for you?

[2018-02-27 23:56] #421 closed

[2018-02-27 23:58] davidmatson commented on #333
If you could provide information about future plans of HttpListener vs HttpSysServer that would be helpful - I had been assuming HttpSysServer was the replacement for HttpListener and would cover its scenarios.

Also, I believe this support is key to running in Docker when using Windows Authentication. With Windows Containers, AD authentication uses a gMSA, which won't match the machine account. S

[2018-02-27 23:59] muratg commented on #426
Closing as dup

[2018-02-27 23:59] #426 closed

[2018-02-28 17:49] strabu commented on #333
Thanks for taking this into consideration.
We'll stick with NTLM for a few more months and move on to something completely different later this year.

[2018-03-01 05:25] ylbillyli opened #429 "RegisterPrefix failed - The process cannot access the file because it is being used..."
Not sure if related to https://github.com/Azure/service-fabric-issues/issues/707
[code]
Debug logs:
[code]

[2018-03-01 06:33] Tratcher commented on #429
Something else one the machine has claimed port 80 and doesn't want to share...

[2018-03-06 23:51] muratg commented on #429
@ylbillyli if you figure out if that's not it, please reopen.

[2018-03-07 17:56] muratg commented on #417
Note: Bug still exists

[2018-03-07 18:11] Tratcher opened #431 "NotifyOnCompleted does not catch exceptions, may abort the response/connection"
NotifyOnCompleted should catch and log its own exceptions as to not disrupt the normal request flow. It doesn't.

https://github.com/aspnet/HttpSysServer/blob/336e85d19abcdf3ec3a024cb9431c768a4e5d494/src/Microsoft.AspNetCore.Server.HttpSys/MessagePump.cs#L204-L214
https://github.com/aspnet/HttpSysServer/blob/336e85d19abcdf3ec3a024cb9431c768a4e5d494/src/Microsoft.AspNetCore.Server.HttpSys/FeatureCo

[2018-03-07 20:18] #427 closed

[2018-03-09 19:48] davidfowl opened #432 "Support Memory<byte> and Span<byte> overloads on body streams"
This requires a little bit of design so that we can take advantage of the fact that we are given a `Memory<byte>`

[2018-03-13 08:25] marcin-roman opened #433 "HttpSys crashes when Accept header has an empty value"
When receiving request with Accept header without value, http.sys crashes with the following stack trace:
[code]
throwing and returning 500 Internal Server Error, preventing further execution. In our scenario, it happens when client invoke web method returning no-value (so Accept doesn't really matter, as no response is expected really).

IETF recommendations are not super-clear on empty values as

[2018-03-13 11:48] Tratcher commented on #433
Duplicate of #381 that has already been fixed in 2.1.0-preview1.

[2018-03-13 11:48] #433 closed

[2018-03-13 22:39] muratg commented on #432
No plans to do this anytime soon.

[2018-03-22 13:38] TonyValenti opened #436 "Unlisted Dependency"
Hi ASPNet Team,
I am trying to use the HttpSysServer in a project and I'm getting the error message below.

Itseems as though my project is missing a reference, but I'm noticing that System.Threading.Overlapped is not listed as a package dependency for this project.  Are there any other unlisted dependencies I should add?

[code]

[2018-03-22 15:15] Tratcher commented on #436
What package version is this?

[2018-03-22 16:13] TonyValenti commented on #436
I am using this DLL:
C:\Users\Tony Valenti\source\repos\AlphaDrive\packages\Microsoft.AspNetCore.Server.HttpSys.2.0.3\lib\netstandard2.0\Microsoft.AspNetCore.Server.HttpSys.dll

and it has this version:
2.0.3.0

[2018-03-22 16:31] Tratcher commented on #436
And you're running on .NET Core 2 or .NET 4.x?

[2018-03-22 16:37] TonyValenti commented on #436
I'm not sure how to answer that question.  The library is a cross platform library that I'm compiling for .NET 4.6.1.

Oddly, my app works fine on Windows 10, but on Windows 7 I get the error mentioned.

[2018-03-22 20:19] TonyValenti commented on #436
Actually, I guess I see the error happening on windows 10 too. Apparently it is just not happening on my dev box.

[2018-03-22 21:08] Tratcher commented on #436
This seems like an issue specific to your project dependency setup. Can you share a dummy project on github that reproduces it?

[2018-03-28 14:11] burzyk commented on #389
I also had a similar problem with the `IClaimsTransformation` not being called. I tried everything mentioned above, but what did the trick was to put the `UseAuthentication` before all other middlewares (`UseMvc` in particular).
In retrospect I can understand why this is happening, but I'm leaving this for any other lost soul that could have this problem.

[2018-03-28 21:44] muratg commented on #431
@Tratcher moved out. If we think it's too impactful or there's customer reports, we can bring it back.

[2018-03-29 16:03] Tratcher opened #439 "Negotiate test broken by SocketsHttpHandler"
AuthenticationTests.AuthTypes_UnathorizedAuthenticatedAuthType_Unauthorized(authType: Negotiate)
[code]
http://aspnetci/project.html?projectId=Releases_21Public&tab=testDetails&testNameId=-5335756877508112140#analysis

Disabling the test in release and dev and filing a corefx issue. Re-enable when fixed.

[2018-03-30 16:43] Tratcher commented on #439
[code]

[2018-04-03 17:10] ryanbrandenburg opened #441 "Flaky test: Caching_InvalidExpires_NotCached"
This test [fails occasionally](http://aspnetci/viewLog.html?buildId=439056&buildTypeId=XPlat_Windows_Win2008r2_Universe), seemingly specific to 2008.

[code]

Future instances of this failure will appear [here](http://aspnetci/project.html?projectId=XPlat&testNameId=2650392098769139334&tab=testDetails).

[2018-04-03 17:51] ryanbrandenburg commented on #441
This test appears to be [skipped XPlat](http://aspnetci/project.html?tab=testDetails&testNameId=2650392098769139334&projectId=Releases_21Public&buildTypeId=Releases_21Public_UbuntuUniverse&order=TEST_STATUS_DESC) though it's unclear to me through what method.

[2018-04-03 17:52] Tratcher commented on #441
See https://github.com/aspnet/HttpSysServer/blob/adbbbcf4deed896f8a828c46ea5ff932b532dd57/test/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests/Properties/AssemblyInfo.cs#L7-L8

[2018-04-03 21:30] Tratcher opened #442 "Investigate HTTP/2 behavior for RequestAborted and Abort"
For Http/1.x RequestAborted is used to detect early disconnects and Abort is used to force them.

For HTTP/2 requests can be multiplexed over a single connection and it's possible to terminate individual requests while leaving the connection active. Investigate how Http.Sys surfaces this behavior and if RequestAborted and Abort can be adapted accordingly. We may also need to introduce a lower leve

[2018-04-03 22:57] muratg commented on #391
@ryanbrandenburg do you still see this? Noticed that this is not in your infrastructure project.

[2018-04-03 22:57] muratg commented on #436
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-03 22:57] #436 closed

[2018-04-03 23:00] ryanbrandenburg commented on #391
No more evidence of it, they seem to consistently take 20~ ms, I'm closing it.

Also, thanks for keeping an eye out for items I missed!

[2018-04-03 23:00] #391 closed

[2018-04-03 23:01] muratg commented on #442
We'll bring this back when HTTP/2 work is back.

[2018-04-04 16:57] ryanbrandenburg opened #443 "Flaky test: Server_MultipleStopAsyncCallsCompleteOnSingleCancellation_FirstToken_Success"
This test [fails occasionally](http://aspnetci/viewLog.html?buildId=440171&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win2008r2_Universe#testNameId3205445488278035764), seemingly specific to 2008.

[code]

Future instances of this failure will appear [here](http://aspnetci/project.html?projectId=XPlat&buildTypeId=XPlat_Windows_Win2008r2_Universe&tab=testDetails&testNameId=3205445488278035764&or

[2018-04-05 15:46] #439 closed

[2018-04-06 12:54] OnamChilwan opened #445 "Remove Server header when using UseHttpSys()"
Is it possible to remove the Server header when using UseHttpSys()? I see the type HttpSysOptions but there doesn't seem to be an option which allows me to remove the header. Is this possible to do so within the app or is it highler level config?

Thanks.

[2018-04-10 19:09] #364 closed

[2018-04-12 16:09] Tratcher commented on #445
https://blogs.msdn.microsoft.com/timomta/2016/12/03/how-to-remove-the-server-header-from-weblistener/

[2018-04-17 01:25] chuanboz opened #448 "UseHttpSys against IServiceCollection to support generic host"
see https://github.com/aspnet/KestrelHttpServer/issues/2498 for Kestrel.

similar issue exists for UseHttpSys, and it's even harder as MessagePump class is marked as internal.

'
public static IServiceCollection UseHttpSys(this IServiceCollection services)
        {
            services.AddSingleton<IServer, MessagePump>();
            services.AddAuthenticationCore();
            return services;

[2018-04-19 23:56] chandimar001 opened #449 "Does WebListener work with Service Fabric reverse proxy?"
I am in the process of migrating our service from Kestrel to WebListener. Our service is in Service Fabric and the requests are routed to the service through the Service Fabric reverse proxy. Kestrel is configured to run on port 5000. I can successfully hit my service with both of these URLs:

- http://localhost:5000/blah
- http://localhost:19081/{servicename}/blah

I now have WebListener successf

[2018-04-27 17:28] Tratcher opened #450 "Kerberos authentication not working using documented HTTP.sys setup on Windows"
_From @karelz on April 27, 2018 17:23_

_From @narmafraz on April 27, 2018 16:22_

Trying to setup a ASP .NET Core 2.0 REST API service on a Windows server (2012 R2) that authenticates users using Kerberos.
Following official docs on setting up HTTP.sys: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-2.1&tabs=aspnetcore2x#enable-windows-authenticat

[2018-04-27 17:28] Tratcher commented on #450
_From @karelz on April 27, 2018 17:23_

If I understand your description correctly, you have problems only with ASP.NET Core using `UseHttpSys`. `HttpListener` is fine. In that case, I think we should start with ASP.NET Core team to look into it.

[2018-04-27 17:43] Tratcher commented on #450
Kerberos is more difficult than most other forms of Windows Auth. There's a lot of domain setup credentials involved. While I don't have an immediate answer, I do know what's different about HttpSys vs HttpListener and how that might require configuration changes.

HttpListener contains its own authentication logic that runs in user mode as the identity of the current process (a domain user?). You

[2018-04-27 17:53] ryanbrandenburg commented on #443
This is still happening and has a roughly 9% failure rate on Win2008 Universe.

[2018-04-27 22:41] ryanbrandenburg opened #451 "Flaky test: ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts"
This test [fails](http://aspnetci/viewLog.html?buildId=457138&buildTypeId=XPlat_Windows_Win2008r2_Universe) occasionally with the following error:
[code]

[2018-05-01 22:38] chandimar001 commented on #449
I checked with the service fabric team and found a way around this.

WebListener works (for me) only when I register it with a wild card URL.
https://github.com/aspnet/Hosting/issues/749

Service Fabric reverse proxy needs the FQDN to forward the request to. It won't work with a wild card,

I updated my code so that UseUrls() uses the wild card path, but OpenAsync() returns the FQDN so that SF rev

[2018-05-02 12:02] narmafraz commented on #450
Thank you very much @Tratcher that is a very useful piece of information that helped resolve the issue.

Indeed we had registered the SPN against the user running the application rather than the host.
So we registered against the host and it worked!

For anyone who is interested we registered `setspn -S HTTP/host1.domain.com:8666 host1` and ran the service on port 8666 and we got HTTP.sys successf

[2018-05-03 09:22] vitalybibikov opened #452 "Port sharing between different processes."
Hello,

Please, explain, how HttpSys shares port between different processes?

What I want to achieve:

I have an application - bunch of services, that are running as a separate processes in SF Cluster, that are listening on the same port, e.g. :80/%SomeUniquePrefix% for each service.

I want to start another service outside of that cluster simply utilizing command "dotnet run". This service suppo

[2018-05-03 15:26] Tratcher commented on #452
Take a look at https://stackoverflow.com/questions/22293445/http-503-service-is-unavailable-when-trying-to-browse-signalr-hubs/22972905#22972905

Http.Sys prefix registrations are interpreted very literally. The value you pass in to the ASP.NET HttpSys server must match the value pre-registered with netsh. I don't know how SF handles netsh registrations.

[2018-05-15 20:43] muratg commented on #340
@keflem Are you still using HttpSysServer and are you still affected by this issue? If you have a repro that you can share, that would be great.

[2018-05-15 20:58] keflem commented on #340
This is a while ago so I will need to dig around.

From: Murat Girgin <notifications@github.com>
Sent: Tuesday, May 15, 2018 1:44 PM
To: aspnet/HttpSysServer <HttpSysServer@noreply.github.com>
Cc: Kevin Fleming <keflem@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/HttpSysServer] Call to ITlsConnectionFeature.ClientCertificate triggers negotiation of SSL certificate even

[2018-06-11 16:30] ryanbrandenburg opened #457 "Flaky test: RequestBody_ReadAsync_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=483224&buildTypeId=XPlat_Windows_Win2008r2_Universe) occasionally with the following error:
[code]

[2018-06-11 16:35] Tratcher commented on #457
History:
http://aspnetci/project.html?projectId=XPlat&buildTypeId=&tab=testDetails&testNameId=-5284826571007502406&order=TEST_STATUS_DESC&branch_XPlat=__all_branches__&itemsCount=50

18 failures since Feb 6, all on 2008R2 - Possible agent issue?

[2018-06-11 16:39] ryanbrandenburg commented on #457
What would the issue on the agent be that would cause this behavior?

[2018-06-11 16:42] Tratcher commented on #457
I don't know but it's suspicious that this only fails on 2008R2 and not Win7, they're the same OS. And we only have one agent for 2008R2 so it's hard to rule out an agent issue.

[2018-06-12 21:47] abatishchev commented on #445
@shirhatti can you please share the reasoning which overweighted the arguments from this discussion: https://github.com/aspnet/KestrelHttpServer/issues/852#issuecomment-220588416

[2018-06-12 21:50] Tratcher commented on #445
HttpSysServer isn't the one adding the Server header, it's done by the lower level http.sys component and there's no API available for us to control that, only some workarounds like those mentioned in the blog.

[2018-06-12 21:51] abatishchev commented on #445
I see, makes sense. The workaround didn't work for me. Most probably this is my local issue, as I'm testing cert client auth and getting 403 so the lambda to removed the header isn't called yet.

[2018-06-18 09:12] petertsu opened #460 "Windows Authentication"
Hi ,
I have a REST API appilcation hosted on HTTP.Sys with windows authetication option enabled . The REST API is  protected by "Bearer" authentication scheme . Once the API invoked with invalid token the authentication scheme returns 401 with "WWW-Authenticate" "Bearer" header . Since application is hosted on  HTTP.Sys  the additional "WWW-Authenticate" "Negotiate" header has been added by  Authe

[2018-06-18 17:22] Tratcher commented on #460
This behavior comes from here:
https://github.com/aspnet/HttpSysServer/blob/231cbffe1a5cc0abce11e2d0685683ed74fc7ad5/src/Microsoft.AspNetCore.Server.HttpSys/RequestProcessing/Response.cs#L336-L339

I don't see a way to work around it, we'd have to add a flag. Something like https://github.com/aspnet/HttpSysServer/issues/393 but for responses. Adding auth headers for 401s mimics IIS's behavior, but

[2018-06-19 07:58] petertsu commented on #460
Hi,
The most used clients are  standard web browsers. Once user perform login he receives  access token in order to invoke REST APIS.  Once access token is rejected by server , browser automaticly  detect the "WWW-Authenticate" "Negotiate" header and automaticaly send the Kerberos ticket in the Authorization header . Surely REST api rejects  it , since it protected by Bearer scheme . Browser  auto

[2018-06-19 15:11] Tratcher commented on #460
Have you considered using Windows Auth for all endpoints? If they already need to use it for the initial login then why switch to Bearer afterwards?

[2018-06-21 10:08] petertsu commented on #460
Login endpoint supports many types of authentication (SAML,OpenID Connect , Windows Auth etc) and after successful authentication issues an access token . All REST APIs are protected by Bearer scheme and agnostic to user authentication type

[2018-07-05 15:58] Tratcher commented on #442
The Http.Sys team indicated that connection structures are virtualized for HTTP/2 so every request should report a unique connection id. In this case WaitForDisconnectEx should work, as well as some of the abort mechanics. Write some functional tests to verify.

[2018-07-11 03:07] ylbillyli commented on #429
@muratg Sorry I forgot about this thread and email has been sending to my previous work email. Anyway, please feel free to close this issue.

I could not remember exactly what was the solution but it could be as you suggested we have both OWIN and dotnetcore services and we share port 80 fine for multiple dotnetcore apps, but for those OWIN apps, the OWIN version of HttpSys does not willing to sha

[2018-07-11 04:15] #429 closed

[2018-07-16 20:31] chandimar001 opened #466 "Troubleshooting intermittent 503 errors"
We are using WebListener version 1.1.4. We have an issue where approximately 1% of requests return a 503 error. We see these 503 errors in our GTM logs. I can't find anything in our application logs where requests have high latency that could result in timeouts. So I want to see if WebListener got these requests and what it responded with.

1. I see the following logs. I assume these are from .NET

[2018-07-16 20:39] Tratcher commented on #466
Start here for traces:
https://blogs.msdn.microsoft.com/wndp/2007/01/18/event-tracing-in-http-sys-part-1-capturing-a-trace/

Http.Sys does have a request queue and it will send 503s if the queue gets full. The RequestQueueLimit option was added in a later version that would let you adjust the length. If the logs indicate your queue is full then consider updating and setting this.

[2018-07-17 18:03] Tratcher commented on #466
I'm not familiar with those low level logs or error codes. I wonder if the client already disconnected in this case.

They're slightly easier to search if you convert them to hex (0xC000020D), but I still didn't get any hits. Have you been able to capture a matching wireshark trace?

[2018-07-25 14:23] MHHenriksen opened #467 "Error message contains wrong class name"
https://github.com/aspnet/HttpSysServer/blob/5edeb8c2ab2d9ee11aa1fe0fb6d928088675ed49/src/Microsoft.AspNetCore.Server.HttpSys/RequestProcessing/ResponseBody.cs#L131

The log message says "ResponseStream::Dispose" while the class is actually named ResponseBody.

[2018-07-26 21:05] ryanbrandenburg commented on #457
RequestBody_ReadAsync_Success [failed again](http://aspnetci/viewLog.html?buildId=516245&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 03:03] ryanbrandenburg commented on #457
AuthTypes_AllowAnonymous_NoChallenge [failed again](http://aspnetci/viewLog.html?buildId=516731&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 05:02] ryanbrandenburg commented on #441
Caching_InvalidExpires_NotCached [failed again](http://aspnetci/viewLog.html?buildId=516857&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:31] ryanbrandenburg commented on #451
ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts [failed again](http://aspnetci/viewLog.html?buildId=517546&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:09] ryanbrandenburg opened #468 "Flaky test: Caching_SetTtlAndStatusCode_Cached"
This test [fails](http://aspnetci/viewLog.html?buildId=518375&buildTypeId=XPlat_Windows_Win7_Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:09] ryanbrandenburg commented on #468
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-07-30 21:15] ryanbrandenburg commented on #441
Caching_InvalidExpires_NotCached [failed again](http://aspnetci/viewLog.html?buildId=518638&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 16:05] Eilon commented on #468
@JunTaoLuo can you take a first look at this flaky test issue?

[2018-07-31 22:29] Eilon commented on #457
@Tratcher - please take a look at this issue because it has been failing again.

[2018-07-31 23:10] ryanbrandenburg opened #469 "Flaky test: Server_SetConnectionLimit_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=519801&buildTypeId=XPlat_Windows_Win10Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 23:10] ryanbrandenburg commented on #469
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-01 05:04] ryanbrandenburg commented on #451
ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts [failed with about the same error](http://aspnetci/viewLog.html?buildId=520543&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-08-02 03:03] ryanbrandenburg commented on #457
AuthTypes_AllowAnonymous_NoChallenge [failed with about the same error](http://aspnetci/viewLog.html?buildId=521545&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-08-07 01:17] ryanbrandenburg commented on #457
RequestBody_ReadAsync_Success [failed with about the same error](http://aspnetci/viewLog.html?buildId=524632&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-08-09 23:42] ryanbrandenburg commented on #441
Caching_InvalidExpires_NotCached [failed with about the same error](http://aspnetci/viewLog.html?buildId=526220&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-08-11 09:00] ryanbrandenburg commented on #457
RequestBody_ReadAsync_Success [failed with about the same error](http://aspnetci/viewLog.html?buildId=529091&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-13 00:02] ryanbrandenburg opened #472 "Test failure: Server_SetHttp503VebosittHittingThrottle_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=529456&buildTypeId=XPlat_Windows_Win10Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automa

[2018-08-13 00:02] ryanbrandenburg commented on #472
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-13 15:57] Tratcher commented on #472
Note the exception comes from here: https://github.com/aspnet/HttpSysServer/blob/eba2d7e380fef9f75203bb9a1f4d30827451d512/test/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests/ServerTests.cs#L334

It's trying to verify the server recovers after some connections are closed. No indication of why the server did not recover in time.

4 failures in recorded history ranging between April and August,

[2018-08-14 00:50] ryanbrandenburg commented on #441
Caching_InvalidExpires_NotCached [failed with about the same error](http://aspnetci/viewLog.html?buildId=529940&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-14 06:00] ryanbrandenburg commented on #451
ResponseBody_WriteContentLengthTooMuchWritten_Throws [failed with about the same error](http://aspnetci/viewLog.html?buildId=530433&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-15 02:04] ryanbrandenburg commented on #468
Caching_SetTtlAndStatusCode_Cached [failed with about the same error](http://aspnetci/viewLog.html?buildId=531100&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-15 05:01] ryanbrandenburg commented on #457
RequestBody_ReadAsync_Success [failed with about the same error](http://aspnetci/viewLog.html?buildId=531393&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-16 00:01] ryanbrandenburg commented on #441
AuthTypes_AllowAnonymous_NoChallenge [failed with about the same error](http://aspnetci/viewLog.html?buildId=532004&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-18 07:01] ryanbrandenburg commented on #441
AuthTypes_AllowAnonymous_NoChallenge [failed with about the same error](http://aspnetci/viewLog.html?buildId=534660&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-20 22:02] aspnet-hello commented on #441
Caching_InvalidExpires_NotCached [failed with about the same error](http://aspnetci/viewLog.html?buildId=535659&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-23 00:00] aspnet-hello commented on #457
RequestBody_ReadAsync_Success [failed with about the same error](http://aspnetci/viewLog.html?buildId=537001&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-24 01:52] JunTaoLuo commented on #468
Looks like this only affects Windows 7 and Windows Server 2008; we have 100% pass rate on all Windows NT versions 6.2 and higher. It looks like it's caused by flakiness in HttpClient.

[2018-08-24 17:32] muratg commented on #468
Looks related to https://github.com/dotnet/corefx/issues/30691.  If so, this it's an issue with some Kestrel tests as well.

cc @halter73

[2018-08-24 18:02] JunTaoLuo commented on #468
Hmm maybe I jumped to conclusions saying this is an HttpClient issue, I'll see if I can find a more definitive cause.

[2018-08-24 21:55] halter73 commented on #468
Based on the exception details, this very well could be the same corefx issue.

[2018-08-27 22:01] aspnet-hello commented on #457
RequestBody_ReadAsync_Success [failed with about the same error](http://aspnetci/viewLog.html?buildId=539955&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-28 21:01] aspnet-hello commented on #451
ResponseBody_WriteContentLengthNotEnoughWritten_Aborts [failed with about the same error](http://aspnetci/viewLog.html?buildId=540941&buildTypeId=XPlat_Windows_Win7_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-29 11:00] aspnet-hello commented on #451
ResponseBody_WriteContentLengthTooMuchWritten_Throws [failed with about the same error](http://aspnetci/viewLog.html?buildId=541635&buildTypeId=XPlat_Windows_Win7_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-02 15:01] aspnet-hello opened #474 "Test failure: AuthTypes_UnathorizedAuthenticatedAuthType_Unauthorized"
This test [fails](http://aspnetci/viewLog.html?buildId=543953&buildTypeId=Releases_22xPublic_Win2012) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automatica

[2018-09-02 15:01] aspnet-hello commented on #474
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-03 14:01] aspnet-hello commented on #474
AuthTypes_UnathorizedAuthenticatedAuthType_Unauthorized [failed with about the same error](http://aspnetci/viewLog.html?buildId=544163&buildTypeId=Releases_22xPublic_Win2012) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-05 15:01] aspnet-hello commented on #451
ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts [failed with about the same error](http://aspnetci/viewLog.html?buildId=544644&buildTypeId=Releases_22xPublic_Win2012) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-05 15:01] aspnet-hello commented on #474
AuthTypes_UnathorizedAuthenticatedAuthType_Unauthorized [failed with about the same error](http://aspnetci/viewLog.html?buildId=544644&buildTypeId=Releases_22xPublic_Win2012) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-05 22:11] Eilon commented on #474
@muratg please assign.

[2018-09-05 22:36] Tratcher commented on #474
3 failures, all in 2.2.

It doesn't seem to be timing out, the test only runs for ~1s.

HttpClient regression? @davidsh
[code]
Related? https://github.com/dotnet/corefx/pull/31589

The calling code isn't doing anything interesting.
https://github.com/aspnet/HttpSysServer/blob/9cb675fec89702d28b5f188e0ab4f7d671d7aa11/test/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests/AuthenticationTests.cs#L3

[2018-09-05 22:42] Eilon commented on #474
@Tratcher if you suspect something in CoreFX, please also send mail so we can get it into their inboxes faster.

[2018-09-06 00:02] ryanbrandenburg commented on #472
@muratg was this resolved? Please assign someone to find out.

[2018-09-06 00:05] ryanbrandenburg commented on #469
@muratg was this resolved? If so how? Please assign someone to find out.

[2018-09-06 00:46] aspnet-hello commented on #474
AuthTypes_UnathorizedAuthenticatedAuthType_Unauthorized [failed with about the same error](http://aspnetci/viewLog.html?buildId=544971&buildTypeId=Releases_22xPublic_Win2012) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-06 18:07] Tratcher commented on #474
Filed https://github.com/dotnet/corefx/issues/32143.

This does not repro in 2.2 when I run the test manually, but in 3.0 it does fail even for manual runs.

[2018-09-06 20:05] muratg commented on #469
@Tratcher

[2018-09-06 22:27] Tratcher commented on #474
I was able to reproduce this in the release/2.2 branch after I did `run upgrade deps`.

This is now skipped in release/2.2 and master.

Corefx has found the issue and submitted a PR.

[2018-09-07 00:08] aspnet-hello commented on #474
AuthTypes_UnathorizedAuthenticatedAuthType_Unauthorized [failed with about the same error](http://aspnetci/viewLog.html?buildId=546427&buildTypeId=XPlat_Windows_Win10Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-07 05:01] aspnet-hello commented on #472
Server_SetHttp503VebosittHittingThrottle_Success [failed with about the same error](http://aspnetci/viewLog.html?buildId=547264&buildTypeId=Lite_UniverseTest) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-07 16:14] Tratcher commented on #469
No changes were made. This was the only report of this failure in recorded history. The test failed two other times in the last year with a different error.

[code]

[2018-09-08 00:16] aspnet-hello commented on #451
AuthTypes_AllowAnonymous_NoChallenge [failed with about the same error](http://aspnetci/viewLog.html?buildId=548632&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-08 02:51] aspnet-hello commented on #457
RequestBody_ReadAsync_Success [failed with about the same error](http://aspnetci/viewLog.html?buildId=548852&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-10 01:16] aspnet-hello commented on #451
ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts [failed with about the same error](http://aspnetci/viewLog.html?buildId=550008&buildTypeId=Releases_22xPublic_Win2012) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-10 16:54] Eilon commented on #457
@Tratcher any update on this? What are the next steps?

[2018-09-10 16:55] Eilon commented on #469
@Tratcher can we add more logging to this case so that we can find out more next time it fails? Ultimately the concern is that there could be a lingering product bug.

[2018-09-10 17:15] Tratcher commented on #457
Recent failures all have this error:
[code]
The client appears to be hitting a 10s client side timeout. @JunTaoLuo this may be related to the failure you saw in https://github.com/aspnet/HttpSysServer/issues/468, except it's a lot more frequent. There was theory this was related to a client side bug but that hasn't been tracked down.

All failures are still on Win2008R2-Universe which implies the

[2018-09-11 18:13] aspnet-hello commented on #451
AuthTypes_AllowAnonymous_NoChallenge [failed with about the same error](http://aspnetci/viewLog.html?buildId=551028&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-14 23:11] aspnet-hello commented on #457
RequestBody_ReadAsync_Success [failed with about the same error](http://aspnetci/viewLog.html?buildId=554473&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-15 04:31] aspnet-hello commented on #451
Caching_InvalidExpires_NotCached [failed with about the same error](http://aspnetci/viewLog.html?buildId=554724&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-18 19:11] aspnet-hello commented on #451
AuthTypes_AllowAnonymous_NoChallenge [failed with about the same error](http://aspnetci/viewLog.html?buildId=556169&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-19 07:31] aspnet-hello commented on #451
ResponseBody_WriteContentLengthNotEnoughWritten_Aborts [failed with about the same error](http://aspnetci/viewLog.html?buildId=556969&buildTypeId=XPlat_Windows_Win7_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-21 19:37] aspnet-hello commented on #451
Caching_InvalidExpires_NotCached [failed with about the same error](http://aspnetci/viewLog.html?buildId=558369&buildTypeId=XPlat_Windows_Win7_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-23 03:14] aspnet-hello commented on #457
There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=559384&buildTypeId=XPlat_Windows_Win7_Universe) on master:
- RequestBody_ReadAsync_Success

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-24 18:09] aspnet-hello commented on #425
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:09] #425 closed

[2018-09-24 18:10] aspnet-hello commented on #416
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:10] #416 closed

[2018-09-25 00:08] aspnet-hello commented on #451
There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=560221&buildTypeId=XPlat_Windows_Win7_Universe) on master:
- ResponseBody_WriteContentLengthNotEnoughWritten_Aborts

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-27 02:11] aspnet-hello commented on #472
There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=562862&buildTypeId=Lite_UniverseTest) on master:
- Server_SetHttp503VebosittHittingThrottle_Success

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-27 03:21] aspnet-hello opened #476 "Test failure: Server_SetConnectionLimitChangeAfterStarted_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=562898&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automatically. I

[2018-09-27 03:30] Eilon commented on #476
@muratg please assign.

[2018-09-27 03:30] Eilon commented on #472
@Tratcher looks like this one is still being relatively flaky, so please try to come up with a solution for this.

[2018-09-28 08:41] aspnet-hello commented on #451
There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=564327&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master:
- Caching_InvalidExpires_NotCached

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-28 19:48] muratg commented on #340
If anyone else is still having issues with this, please file another bug!

[2018-09-28 19:48] #340 closed

[2018-10-03 01:01] aspnet-hello commented on #451
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=567000&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 3:17:24 PM:
- ResponseBodyWriteExceptions_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts

[2018-10-04 03:01] aspnet-hello commented on #457
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=568037&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 5:17:26 PM:
- RequestBody_ReadAsync_Success

[2018-10-04 08:31] aspnet-hello commented on #468
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=568520&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 10:43:47 PM:
- Caching_SetTtlAndStatusCode_Cached

[2018-10-04 20:08] halter73 commented on #468
Specifically this is the dotnet/corefx#30691 issue. @Tratcher This is one reason that just disabling ConnectionNotClosedWhenClientSatisfiesMinimumDataRateGivenLargeResponseHeaders is unappealing. As you can see in aspnet/KestrelHttpServer#2777, this causes flakiness in nearly all of our functional tests that send any reasonably large amount of data. Where would we draw the line on which functional

[2018-10-04 20:09] halter73 commented on #468
We could try using aspnet/Logging#886 with a very specific predicate to retry any test that we've ever observed failing this way.

[2018-10-04 20:31] aspnet-hello commented on #472
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=568987&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 10:47:18 AM:
- Server_SetHttp503VebosittHittingThrottle_Success

[2018-10-05 21:31] aspnet-hello commented on #457
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=570351&buildTypeId=XPlat_Windows_Win7_Universe) on master at 11:39:41 AM:
- RequestBody_ReadAsync_Success

[2018-10-06 00:11] aspnet-hello commented on #457
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=570630&buildTypeId=XPlat_Windows_Win7_Universe) on master at 2:21:36 PM:
- RequestBody_ReadAsync_Success

[2018-10-06 05:41] aspnet-hello commented on #451
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=571066&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 7:48:32 PM:
- AuthTypes_AllowAnonymous_NoChallenge

[2018-10-07 23:32] aspnet-hello commented on #451
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=572238&buildTypeId=XPlat_Windows_Win7_Universe) on master at 1:47:34 PM:
- Caching_InvalidExpires_NotCached

[2018-10-08 06:11] aspnet-hello commented on #451
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=572388&buildTypeId=Releases_22xPublic_Win2012) on 2.2 at 8:24:44 PM:
- ResponseBody_WriteContentLengthTooMuchWritten_Throws

[2018-10-10 05:21] aspnet-hello opened #477 "Test failure: ResponseSendFileWriteExceptions_FirstCallWithCanceledCancellationToken_CancelsAndAborts"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=574240&buildTypeId=Lite_UniverseTest) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the

[2018-10-10 07:31] aspnet-hello commented on #457
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=574216&buildTypeId=XPlat_Windows_Win7_Universe) on master at 9:38:58 PM:
- RequestBody_ReadAsync_Success

[2018-10-10 16:07] Eilon commented on #477
@Tratcher can you please take a look?

[2018-10-10 16:08] Eilon commented on #457
@Tratcher any news on this one?

[2018-10-10 20:21] aspnet-hello commented on #468
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=574550&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 10:37:37 AM:
- Caching_UnsupportedRequestMethods_BypassCacheAndLeaveItIntact

[2018-10-13 10:02] aspnet-hello commented on #457
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=577427&buildTypeId=XPlat_Windows_Win7_Universe) on master at 12:17:56 AM:
- RequestBody_ReadAsync_Success

[2018-10-15 19:34] Tratcher commented on #457
Every indication here is that it's a client side SocketHttpHandler/Socket bug.
- https://github.com/aspnet/HttpSysServer/issues/451 includes a lot of similar failures across a variety of tests.
- Every failure is .NET Core only, no .NET 4.x failures.
- Every failure is Win7/2008R2
- https://github.com/dotnet/corefx/issues/30691 may be related, though the error message is different.

I'm working on

[2018-10-15 19:35] Eilon commented on #457
BTW if it makes sense to temporarily disable this test, please do so (per the workflow at the top of this issue).

[2018-10-15 21:52] aspnet-hello commented on #457
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=578273&buildTypeId=XPlat_Windows_Win7_Universe) on master at 12:01:04 PM:
- RequestBody_ReadAsync_Success

[2018-10-16 06:11] aspnet-hello commented on #451
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=578536&buildTypeId=XPlat_Windows_Win7_Universe) on master at 8:14:37 PM:
- AuthTypes_AllowAnonymous_NoChallenge

[2018-10-16 17:19] Tratcher commented on #457
Update. I spent a whole day trying to reproduce these and did not get a single hit. I did come up with a new theory though. For historical purposes there are two versions of most of these tests, an ASP.NET level one and a lower level Listener version. Every failure reported here is in the Listener version of these tests.

This lower level doesn't have a message pump, it has to call Accept for each

[2018-10-16 22:21] #457 closed

[2018-10-19 06:41] aspnet-hello commented on #451
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=580401&buildTypeId=Lite_UniverseTest) on master at 8:37:02 PM:
- ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts

[2018-10-19 17:10] aspnet-hello opened #482 "Test failure: UseDefaultAddress_WhenNoServerAddressAndNoDirectConfiguration"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=580577&buildTypeId=Releases_22xPublic_Win2012) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC Eilon

[2018-10-19 17:10] aspnet-hello commented on #482
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-19 17:11] aspnet-hello commented on #482
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=580423&buildTypeId=Releases_22xPublic_Win2012) on 2.2 at 10:13:55 PM:
- UseDefaultAddress_WhenNoServerAddressAndNoDirectConfiguration

[2018-10-19 17:11] #474 closed

[2018-10-19 17:44] Tratcher commented on #451
ResponseBody_SecondWriteAsyncWithCanceledCancellationToken_CancelsAndAborts
2 failures
- [10643](http://aspnetci/viewLog.html?buildId=580401&buildTypeId=Lite_UniverseTest&tab=buildResultsDiv) Win 2012, .NET 4.6.1 only.
- [10557](http://aspnetci/viewLog.html?buildId=567765&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win2008r2_Universe#testNameId-1955952822284369934), 2008 R2, net461

Note this is

[2018-10-19 18:58] Eilon commented on #482
@Tratcher can you take a look?

[2018-10-19 19:17] Tratcher commented on #451
Everything above has been resolved except Caching_InvalidExpires_NotCached and the issue described in the prior post.

[2018-10-20 11:51] aspnet-hello commented on #451
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=581332&buildTypeId=XPlat_Windows_Win7_Universe) on master at 1:59:59 AM:
- RequestBody_ReadAsyncPartialBodyAndExpiredTimeout_Canceled

[2018-10-22 19:21] Tratcher commented on #451
Closing this out. Fixes or mitigations have been added for all failures.

[2018-10-22 19:21] #451 closed

[2018-10-22 19:37] Tratcher commented on #482
I blame [SignalR](https://github.com/aspnet/SignalR/issues/3161). @BrennanConroy why are those tests all using 5000?

[2018-10-22 22:16] Eilon commented on #482
So assign this to @BrennanConroy 5000 times? 😄

[2018-10-23 16:19] #482 closed

[2018-10-26 12:11] aspnet-hello commented on #441
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=583734&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 1:52:06 AM:
- RequestBody_ReadAsyncPartialBodyAndExpiredTimeout_Canceled

[2018-10-26 12:12] aspnet-hello commented on #468
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=583730&buildTypeId=XPlat_Windows_Win7_Universe) on master at 1:52:06 AM:
- Caching_SetTtlAndStatusCode_Cached

[2018-10-30 21:54] Tratcher commented on #472
No repro, but I did do some code cleanup that should help.

[2018-10-30 21:54] #472 closed

[2018-10-30 21:55] Tratcher commented on #476
I did some code cleanup that should help here.

[2018-10-30 21:55] #476 closed

[2018-10-30 21:55] Tratcher commented on #469
I did some code cleanup that should help here.

[2018-10-30 21:55] #469 closed

[2018-10-31 17:41] aspnet-hello opened #488 "Test failure: Server_ShutdownDuringRequest_Success"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](https://dnceng.visualstudio.com/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=37834) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on release

[2018-10-31 17:41] aspnet-hello commented on #488
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-31 18:16] Eilon commented on #488
[code]

@muratg can you assign?

[2018-10-31 18:47] Tratcher commented on #477
Rewrote the test, we'll see if that helps.

[2018-10-31 18:47] #477 closed, assigned to Tratcher

[2018-10-31 18:47] muratg commented on #488
@Tratcher could you take a look please?

[2018-11-06 06:12] wxilas21 opened #489 "The Http.Sys server has shut down. And an issue that hangs when I run it again."
There is an issue that hangs when running HttpSys Server for more than one day, shutting down and restarting. And doing TaskKill in this state does not kill the process. In this case, there are issues that require a reboot. We have a dump file at this time. I would appreciate your help in solving the problem.

### Execution environment
Using AWS EC2
Windows server 2012 R2 Version 6.3 ( build 9600)

[2018-11-06 06:41] Tratcher commented on #489
Is there a reason you're using Http.Sys and Kestrel? (https://github.com/aspnet/KestrelHttpServer/issues/3074)

[2018-11-06 06:45] wxilas21 commented on #489
I started the project three months ago using Kestrel. This [https://github.com/aspnet/KestrelHttpServer/issues/3074](url) issue has occurred and we have also considered using HttpSys. I also noticed another problem with HttpSys.

[2018-11-06 17:49] aspnet-hello opened #490 "Test failure: Server_SetHttp503VebosityHittingThrottle_Success"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=588511&buildTypeId=XPlat_Windows_Win2008r2_Universe) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC Eilo

[2018-11-06 17:49] aspnet-hello commented on #490
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-11-07 03:40] Tratcher commented on #489
Open the dump in Visual Studio or WinDbg and look at the call stacks for active threads. How many threads do you see? Are any stuck at suspicious places like calls to Wait()?

[2018-11-07 04:47] wxilas21 commented on #489
I checked the dump. The thread only had one main thread. This is the call stack of the main thread.

### Main Thread Call Site
ntdll!NtDeviceIoControlFile+0xa
httpapi!HttpApiSynchronousDeviceControl+0x73
httpapi!HttpCreateServerSession+0x6e
0x00007fff`35ddad2d
Microsoft_AspNetCore_Server_HttpSys!Microsoft.AspNetCore.Server.HttpSys.ServerSession..ctor()$##60001E3+0x47
Microsoft_AspNetCore_Server_Ht

[2018-11-07 05:52] Tratcher commented on #489
That call stack is the server trying to start up. I don't know why it would hang, I'll ask some httpapi experts.

In the meantime, can you clarify your initial statement? You had successfully started your application and served traffic for a day before it hung. That's when you shut it down and restarted it and ran into the issue with the stack trace given above. Is this correct?  Do you have any d

[2018-11-07 06:03] Tratcher commented on #489
Interesting [link](https://blogs.technet.microsoft.com/markrussinovich/2005/08/17/unkillable-processes/).

[2018-11-07 06:44] wxilas21 commented on #489
Yes, that's right. Symptoms appeared after a day or so. And when you restart, it hangs. And this Call Site is a dump when it hangs.

We'll look at the link you've shown and we'll look at it in detail.

[2018-11-07 07:10] wxilas21 commented on #489
I saw the link you gave me. It is similar to my situation. When the HttpSys server shut down, the console identified the remaining issues in the TaskManager that disappeared. And when you start again, the program hangs in the same situation as the dump.

[2018-11-07 17:39] Tratcher commented on #489
Can you capture a dump before restarting the process? It will be interesting to see what the original error was.

[2018-11-07 18:41] aspnet-hello commented on #441
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=589479&buildTypeId=XPlat_Windows_Win7_Universe) on master at 8:53:27 AM:
- Caching_InvalidExpires_NotCached

[2018-11-07 20:42] Tratcher commented on #489
Sharing the other dump may also be interesting. You can send a download link to the e-mail address in my profile.

[2018-11-08 02:30] wxilas21 commented on #489
The next update is (UTC + 9) AM 10:30. I will get a dump and send you an email before updating.
Thank you.

[2018-11-09 02:03] wxilas21 commented on #489
I sent an email. Thank you.

[2018-11-09 13:11] aspnet-hello opened #491 "Test failure: ResponseBody_SyncWriteEnabledByDefault_ThrowsWhenDisabled"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=590527&buildTypeId=Releases_22xPublic_Win2012) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC Eilon

[2018-11-09 13:11] aspnet-hello commented on #491
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-11-09 17:16] Eilon commented on #491
Full test name: Microsoft.AspNetCore.Server.HttpSys.Listener.ResponseBodyTests.ResponseBody_SyncWriteEnabledByDefault_ThrowsWhenDisabled

@muratg - please assign.

[2018-11-13 23:10] JunTaoLuo commented on #468
Looks like the last failure was after your changes in https://github.com/aspnet/HttpSysServer/pull/483. The tests are still failing on Win7: http://aspnetci/viewLog.html?buildId=591404&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win7_Universe. Can you take a look @Tratcher?

[2018-11-17 12:15] wxilas21 commented on #489
Thank you for your interest in the old issue. I will check if <a href="https://support.microsoft.com/en-us/help/4338824/windows-81-update-kb4338824" rel="nofollow">Windows KB4338824</a> is updated. And @Tratcher continues to help you solve this issue.

I will leave a note as soon as I can confirm that this update is installed or not.

Thank you.

[2018-12-05 15:31] cadwal opened #492 "Access denied exception in UrlGroup.RegisterPrefix"
I have a very odd problem with UrlPrefixes in development. Sample attached, don't use IISExpress when testing. (This comes from a larger Api hosted as a WinService)

Consider this configuration:

[code]

If I run this as a regular user (from VS or command line), the first prefix works fine (as expected I believe, a port above 10000 on localhost/127.0.0.1 is ok for any user (TLS needs more though))

[2018-12-05 16:15] Tratcher commented on #492
Note the netsh reservation url must match exactly what you pass to UrlPrefixes. Also, `+` reserves all hosts, it doesn't stack like `*` does.

[2018-12-06 09:23] cadwal commented on #492
Ah, that is exactly what the documentation says. But not until this morning did I realise that I had made incorrect assumptions based on the word "match" when there were wildcards in the vicinity. I had assumed that match meant match a registration against the wildcard reservations, but it meant match the registration against the list of reservations. The wildcards are only used in http.sys routin

[2018-12-06 15:38] Tratcher commented on #492
Correct.

[2018-12-07 07:47] cadwal commented on #492
Additional notes from some additional testing for someone that comes across this issue:
A prefix with host 127.0.0.1 only listens on the loopback interface.
A prefix with host localhost listens on all interfaces but host header spoofing is blocked in HTTP.SYS and only traffic from localhost to localhost is allowed, but that is a software only thing it seems.

[2018-12-07 07:47] #492 closed, assigned to nobody

[2018-12-07 23:49] shirhatti commented on #489
We're closing this issue as no response or updates have been provided   in a timely manner and we have been unable to reproduce it. If you have more   details and are encountering this issue please add a new reply and re-open   the issue.

[2018-12-07 23:49] #489 closed

[2018-12-11 19:09] Tratcher commented on #468
These tests have been re-written.

[2018-12-11 19:09] #468 closed

[2018-12-11 23:10] muratg commented on #448
Design around this has changed. We don't need this anymore.

[2018-12-11 23:10] #448 closed

[2018-12-11 23:14] #441 closed

[2018-12-11 23:14] #443 closed

[2018-12-11 23:16] #449 closed

[2018-12-11 23:17] #452 closed

[2018-12-11 23:21] muratg commented on #460
We don't currently plan to implement this. If we get more feedback, we may change the plans here.

[2018-12-11 23:23] muratg commented on #466
@chandimar001 are you still having issues?

One hypothesis is that your HTTP.sys queues are filling up. Can you verify via perf counter?

[2018-12-11 23:27] muratg commented on #467
@MHHenriksen if you're still interested please send a PR. Thanks.

[2018-12-12 02:02] chuanboz commented on #448
thanks @muratg , do you have a link to the changed design around this? just trying to understand the latest design better.

[2018-12-12 05:21] Tratcher commented on #448
See https://github.com/aspnet/Hosting/pull/1580

[2019-02-15 17:50] juniormayhe commented on #276
Sometimes it is just about application pool that has been stopped